html, body {
	
	font-family: arial, Helvetica, Arial, sans-serif;
	font-size: 0.85em;
	margin: 0px;
	background-color: #7391ad;
	height:100%;		
}
h2 { color:#3B6E8F; font-size: 16px; font-weight: bold;}
h3 { color:#3B6E8F; font-size: 14px; font-weight: bold; margin-bottom:2px;margin-top:0px;}
h4 { color:#3B6E8F; font-size: 12px;  margin: 0px 2px;}
h5 { color:#3B6E8F; font-size: 11px;  margin: 0px 2px;}
h6 { color:#3B6E8F; font-size: 11px;  margin: 0px 2px; display:inline;	}


a {
	color: black;
}
a img{
	border: none;
}

a:hover{
	color: grey;
}
a[rel="external"], a.external {
white-space: nowrap;
padding-right: 15px;
background: url(../img/extlink.gif) no-repeat 100% 50%;
zoom: 1;
}

table.featureInfo, table.featureInfo td, table.featureInfo th {
		border:1px solid #ddd;
		border-collapse:collapse;
		margin:0;
		padding:0;
		font-size: 90%;
		padding:.2em .1em;
	}
	table.featureInfo th {
	    padding:.2em .2em;
		font-weight:bold;
		background:#eee;
	}
	table.featureInfo td{
		background:#fff;
	}
	table.featureInfo tr.odd td{
		background:#eee;
	}
	table.featureInfo caption{
		text-align:left;
		font-size:100%;
		font-weight:bold;
		text-transform:uppercase;
		padding:.2em .2em;
	}


.extlink {
	margin-left: 2px;	
}
hr {
	width: 80%;		
	color:#7391ad;
	background: #fff url(../img/borderLine.gif) no-repeat center bottom;
	margin: 8px auto;
	height: 1px;
	border: 0 none;	
}
.error {
	
	color: #f71bbc;
	font-weight: bold;
}



#mapdiv {
	position: absolute;	
	z-index: 1;
	height: 100%;
	width:100%;
}


.topdrop  {
  background-image:url(../img/mapshadow.png);
  background-position:left top;
  background-repeat:repeat-x;  
	z-index: 100;
	width: 100%;
  height:10px;
	position: absolute;
}



.leftdrop  {
  background-image:url(../img/leftshadow.png);
  background-position:left top;
  background-repeat:repeat-y;
	z-index: 101;
	width:10px ;
  height:100%;
	position: absolute;
}



#mapscale {
	width: 90px;
	z-index: 3;
  position: relative;
  float: left;	
	color: white;
}
#mapcoords {
	width: 90px;
	z-index: 4;
  position: relative;
  float: right;
	color: white;
	background: inherit;
}
#mapcoords b{
	background: none;
}

#mapinfo {
	bottom: 0em;
	left: 0px;
	padding: 10px 15px ;
	display: block;
	position: absolute;
	width: 220px;
	z-index: 3;
	font-family: Arial;
	font-size: smaller;
    -moz-border-radius: 5! important;
    border: 1px 1px 0 0;
    background-color:#3c668d;
    opacity: 0.0;
}
#tmpres {
	bottom: 0em;
	left: 400px;
	padding: 10px 15px ;
	display: block;
	position: absolute;
	width: 100px;
	z-index: 8;
	font-family: Arial;
	font-size: smaller;
}

/*	getfeatureinfo results 
*/


.getfeaturepopup_contentDiv, .olPopupContent {	
	overflow: hidden! important;
	cursor: default;
        margin-top: 5px;
        margin-left: 7px;
}
.olPopup {
	height: 100%;	
}


#featureinfoheader {	
    clear:both;
    margin-bottom:0;
    padding:2px;
    width:410px;
}
#featureinfostatus {
    float:left;
    margin:5px 3px;
}
#featureinfodepth {
    	float: left;
        clear:left;
}
#featureinfoGeneral {
    padding: 0px 5px 5px 5px ;
}


.feature {
    margin: 2px 0px 5px 0px;
    padding: 8px;
    padding-right: 12px;
    padding-top: 10px;
    width:100%;
    background-color: #fafafa;
    background-image:url(../img/mapshadow.png);
background-position:left top;
background-repeat:repeat-x;
border: 1px solid #ddd;
}
.nofeature {
	margin: 2px 0px 5px 0px;
	padding: 5px;
	width:100%;
	background-color: #fafafa;
}
.featurewhite {
	margin: 2px ;
	padding: 5px;
	background-color: white;
}


.feature ul li{
	margin-left: 1em;
}

                  

#featureinfocontent {
    padding: 3px;
    padding-top: 10px;
    padding-left: 10px;
    width: 420px;
    height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top:10px;
}


#featureinfocontent_topborder {
    margin-top: 10px;
    clear: both;
}
#featureinfocontent_topborderimg {
    width:100%;
    position:absolute;
}


#featureinfocontent .feature {
	width: 93%;
	
}
#featureinfocontent img {
	padding: 10px 5px;
}
#featureinfocontent b { 
	color:#3B6E8F; 
	font-weight: bold;
}
#featureinfocontent ul { 
	margin: 5px 0px;
	padding-left: 2px; 
	list-style-type: circle;
}
#featureinfocontent li { 
	margin-left: 2px; 
	padding-left: 2px; 
	list-style-position: inside;
}


.block h3 {
	border: solid 1px #cccccc;
	background-color: #efefef;
	padding-left: 3px;
	width: 100%;
}

p.important {
	color:#3c668d;
	font-weight: bold;
}

.argodates {

    font-size: .9em;
    background-color: #ffffff;
    padding: 2px 10px;
}




/* Overview Map wigit */
.olControlOverviewMapElement {
	background-color: #3c668d;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover, .ygtvfocus{
	background-color: transparent;
}
a.ygtvlabel:hover {
	text-decoration:underline;
}

 
div.olControlScaleLineBottom {
	margin-top: -1;
}
div.olControlScaleLineTop, div.olControlScaleLineBottom {
	border-color: white;
}


.olControlEditingToolbar, .olControlEditingToolbarItemInactive {
width: 50px;
}
.olControlEditingToolbar div {
float: left;
}


#navtoolbar {
    position: absolute;
    float: left;
    width: 42px;
    z-index: 1001;
    margin-top: 250px;
    margin-left: 9px;
	
}
#navtoolbar .olControlNavigationItemActive, 
#navtoolbar .olControlNavigationItemInactive, 
#navtoolbar .olControlZoomBoxItemActive, 
#navtoolbar .olControlZoomBoxItemInactive,

#navtoolbar .olControlEditingToolbar,
#navtoolbar .olControlEditingToolbarItemInactive

{
    display: block;
    background-image: url('../img/raa_y.gif');
    height: 25px;
}
#navtoolbar .olControlDrawFeatureItemActive {
  
    height: 22px;
    background-image: url("../img/draw.png?");
    background-position:12px 1px;
    background-repeat: no-repeat;
    display: block;
}
#navtoolbar .olControlDrawFeatureItemInactive {
  display: none;
}
.olPopupCloseBox {
    background:transparent url(../img/close.png?) no-repeat scroll 0 0 !important;
    margin-right: 7px;
}

.olControlZoomBoxItemActive {
	background-position: -600px 0pt;
}
.olControlZoomBoxItemInactive {
	background-position: -500px 0pt;
}
.olControlZoomBoxItemInactive:hover {
	background-position: -600px 0pt;
}

.olControlNavigationItemActive {
	background-position: -800px 0pt;
}
.olControlNavigationItemInactive {
	background-position: -700px 0pt;
}
.olControlNavigationItemInactive:hover {
	background-position: -800px 0pt;
}



#controlPanZoom {
	position: absolute;	
	margin-left: 5px;
	width: 42px;
	z-index: 1000;
}




#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panup,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panright,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_pandown,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panleft,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomin,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomout

{
    background-repeat: no-repeat;
    background-image: url('../img/raa_y.gif');
    width: 23px! important;
    height: 22px! important;
    cursor: pointer;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panup img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_pandown img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panleft img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panright img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomin img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomout img,
#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_Map_8 img
{
   display: none; 
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomin
{
    top: 78px! important;
    left: 11px! important;
    background-position: -1900px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomin:hover
{
    background-position: -2000px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomout
{
    top: 219px! important;
    left: 11px! important;
    background-position: -2100px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_zoomout:hover
{
    background-position: -2200px 0;
}
#controlPanZoom  #OpenLayers\002E Control\002E PanZoomBar_2_OpenLayers\002E Map_8 img
{
    display: none;
}

#controlPanZoom #OpenLayers_Control_PanZoomBar_ZoombarOpenLayers\002E Map_8
{
    top: 99px! important;
    left: 11px! important;
    background: url('../img/panelPanZoom.gif') no-repeat 0 0! important;
    width: 21px! important;
    height: 120px! important;	
}



#controlPanZoom  #OpenLayers\002E Control\002E PanZoomBar_2_OpenLayers\002E Map_8 
{
    left: 0px;
    z-index: 99;
    background-repeat: no-repeat;
    background-image: url('../img/raa_y.gif');
    background-position: -2300px 0;
    width: 30px;
    height: 10px;
    margin: 17px 6px 3px 0px;
    padding: 3px;
}

#controlPanZoom  #OpenLayers\002E Control\002E PanZoomBar_2_OpenLayers\002E Map_8:hover 
{
    background-position: -2400px 0;
}


#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panup
{
    background-position: -1100px 0;
    z-index: 110;
    top: 7px! important;
    left: 11px! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panup:hover
{
    background-position: -1200px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_pandown
{
    background-position: -1300px 0;
    z-index: 110;
    top: 47px! important;
    left: 11px! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_pandown:hover
{
    background-position: -1400px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panleft
{
    background-position: -1500px 0;
    z-index: 100;
    top: 27px! important;
    left: 0! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panleft:hover
{
    background-position: -1600px 0;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panright
{
    background-position: -1700px 0;
    z-index: 100;
    top: 27px! important;
    left: 22px! important;
}

#controlPanZoom #OpenLayers\002E Control\002E PanZoomBar_2_panright:hover
{
    background-position: -1800px 0;
}

.olControlOverviewMapElement
{
    position: absolute! important;
    bottom: 0! important;
    right: 0! important;
    _bottom: -1px! important;
    _right: -1px! important;
    background: #3c668d! important;
    -moz-border-radius: 5! important;    
}

.olControlOverviewMapExtentRectangle
{
    border: 1px solid #e89c14! important;
    margin: 0! important;
    padding: 0! important;
}

#layerswitch {
	position: static;
	clear: both;
}
.olControlLayerSwitcher {	
	display: none;
}

/* hide it till positioned in style.css */
.olControlOverviewMapMaximizeButton {

    visibility : hidden;
}



/*
JQUERY AUTO COMPLETE
*/

.ac_results {
	padding: 0px;
	border: 1px solid #999;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
.small_loader {
    float: right;
}

.ac_odd {

}

.ac_over {
	
}

