*.iml
target
stacktrace.log
.DS_Store
portal-all.js
DELETED_UNIT_TESTS
.classpath
.project
.settings
target-eclipse
.link_to_grails_plugins
*~
*.lock
plugins
\#*\#
.\#*

# Include code style settings for IntelliJ IDEA projects
.idea/*
!.idea/codeStyleSettings.xml
