*.iml
target
stacktrace.log
.DS_Store
portal-all.js
DELETED_UNIT_TESTS
.classpath
.project
.settings
target-eclipse
.link_to_grails_plugins
*~
*.lock
plugins
\#*\#
.\#*
*.swp
grails-app/conf/Config.local.groovy

# Include code style settings for IntelliJ IDEA projects
.idea/*
!.idea/codeStyleSettings.xml

# Avoid accidentally checking in uneeded extjs 4 files.
web-app/js/extjs-4.1.1
