body, html {
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.ext-el-mask {
    background-color: #666666;
}


h1 {
    color: #3B6E8F;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    color: #3B6E8F;
    font-size: 16px;
    font-weight: bold;
}
h3 {
    color: #3B6E8F;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0;
}
h4 {
    color: #3B6E8F;
    font-size: 12px;
    margin: 0 2px;
}
h5 {
    color: #3B6E8F;
    font-size: 11px;
    margin: 0 2px;
}
h6 {
    color: #3B6E8F;
    display: inline;
    font-size: 11px;
    margin: 0 2px;
}


a img{
	border: none;
}



.x-menu-floating {
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.noborder {
    border: none! important;
}

.motd {
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: white;
    padding: 10px;
    border: none! important;
    font-size: 12px;
    
}
.x-btn-text {
    font-weight: bold;
}

.x-tree-lines .x-tree-elbow-plus, .x-tree-lines .x-tree-elbow-end-plus{
    background-image: url('../img/icons/treePlus.png');
}
.x-tree-lines .x-tree-elbow-minus, .x-tree-lines .x-tree-elbow-end-minus{
    background-image:url('../img/icons/treeMinus.png');
}
   

.x-panel-body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 0px;
    background: none;
}
#leftMenus .x-layout-split {
    background-color: #ccc;
}
.floatLeft {
    float: left;
}
.buttonPad {
    padding: 2px 5px 5px 0px
}
.leftMenus {
    padding-left: 3px;
}
.x-tip-body {
    padding: 5px! important;
    background : none;
}