


.x-menu-floating {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.x-btn-text {
    font-weight: bold;
}

.x-tree-lines .x-tree-elbow-plus, .x-tree-lines .x-tree-elbow-end-plus{
    background-image: url('../img/icons/treePlus.png');
}
.x-tree-lines .x-tree-elbow-minus, .x-tree-lines .x-tree-elbow-end-minus{
    background-image:url('../img/icons/treeMinus.png');
}

.ext-el-mask {
    background-color: #666666;
}
   

.x-panel-body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 0px;
    background: none;
}
#leftMenus .x-layout-split {
    background-color: #ccc;
}

.x-tip-body {
    padding: 5px! important;
    background : none;
}

.x-border-layout-ct {
    background: none! important;
}