/*
 * Copyright 2009, 2010, 2011 Integrated Marine Observing System (IMOS)
 * Copyright 2010, 2011 Australian Ocean Data Network (AODN)

 *  This file is part of aodn_ocean_portal

 *  aodn_ocean_portal is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.

 *  aodn_ocean_portal is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.

 *  You should have received a copy of the GNU General Public License
 *  along with aodn_ocean_portal  If not, see <http://www.gnu.org/licenses/>.
 */

h2 {
    color: #3B6E8F;
    font-size: 16px;
    font-weight: bold;
}
h3 {
    color: #3B6E8F;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0;
}
h4 {
    color: #3B6E8F;
    font-size: 12px;
    margin: 0 2px;
}
h5 {
    color: #3B6E8F;
    font-size: 11px;
    margin: 0 2px;
}
h6 {
    color: #3B6E8F;
    display: inline;
    font-size: 11px;
    margin: 0 2px;
}

a {
	color: black;
}
a img{
	border: none;
}

a:hover{
	color: grey;
}


a[rel="external"], a.external {
white-space: nowrap;
padding-right: 15px;
background: url(../images/extlink.gif) no-repeat 100% 50%;
zoom: 1;
}

/*
Geoserver default tables
*/
table.featureInfo, table.featureInfo td, table.featureInfo th {
		border:1px solid #ddd;
		border-collapse:collapse;
		margin:0;
		padding:0;
		font-size: 90%;
		padding:.2em .1em;
	}
	table.featureInfo th {
	    padding:.2em .2em;
		font-weight:bold;
		background:#eee;
	}
	table.featureInfo td{
		background:#fff;
	}
	table.featureInfo tr.odd td{
		background:#eee;
	}
	table.featureInfo caption{
		text-align:left;
		font-size:100%;
		font-weight:bold;
		text-transform:uppercase;
		padding:.2em .2em;
	}



#mapdiv {
	position: absolute;	
	z-index: 1;
	height: 100%;
	width:100%;
}


.topdrop  {
  background-image:url(../images/mapshadow.png);
  background-position:left top;
  background-repeat:repeat-x;  
	z-index: 100;
	width: 100%;
  height:10px;
	position: absolute;
}



.leftdrop  {
  background-image:url(../images/leftshadow.png);
  background-position:left top;
  background-repeat:repeat-y;
	z-index: 101;
	width:10px ;
  height:100%;
	position: absolute;
}



#mapscale {
	width: 90px;
	z-index: 3;
  position: relative;
  float: left;	
	color: white;
}
#mapcoords {
	width: 90px;
	z-index: 4;
  position: relative;
  float: right;
	color: white;
	background: inherit;
}
#mapcoords b{
	background: none;
}

#mapinfo {
	bottom: 0em;
	left: 0px;
	padding: 10px 15px ;
	display: block;
	position: absolute;
	width: 220px;
	z-index: 3;
	font-family: Arial;
	font-size: smaller;
    -moz-border-radius: 5! important;
    border: 1px 1px 0 0;
    background-color:#3c668d;
    opacity: 0.0;
}

.semiTransparent {
    background: inherit! important;
    background-color:#3c668d! important;
    opacity: 0.7;
    color: white;
}
.fullTransparency {
    background: inherit! important;
    background-color:white! important; 
    opacity: 0.9! important;

}
.noborder {
    border: none! important;
}


/*

The old getFeatureInfo header that held general info
#featureinfoheader {	
    clear:both;
    margin-bottom:0;
    padding:2px;
    width:410px;
}
#featureinfostatus {
    float:left;
    margin:5px 3px;
}
#featureinfodepth {
    	float: left;
        clear:left;
}
#featureinfoGeneral {
    padding: 0px 5px 5px 5px ;
}
*/

.featureinfocontent {
    padding: 10px 3px 3px 10px;
    background-color: white;
}
.feature {
    margin: 2px 0px 5px 0px;
    padding: 8px;
    padding-right: 12px;
    padding-top: 10px;
   /* width:100%;*/
    background-color: #fafafa;
    background-image:url(../images/mapshadow.png);
background-position:left top;
background-repeat:repeat-x;
border: 1px solid #ddd;
}
.nofeature {
	margin: 2px 0px 5px 0px;
	padding: 5px;
	width:100%;
	background-color: #fafafa;
}
.featurewhite {
	margin: 2px ;
	padding: 5px;
	background-color: white;
}


.feature ul li{
	margin-left: 1em;
}

                  

#featureinfocontent {
    padding: 3px;
    padding-top: 10px;
    padding-left: 10px;
    width: 420px;
    height: 240px;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    top:10px;
}


#featureinfocontent_topborder {
    margin-top: 10px;
    clear: both;
}
#featureinfocontent_topborderimg {
    width:100%;
    position:absolute;
}


#featureinfocontent .feature {
	width: 93%;
	
}
#featureinfocontent img {
	padding: 10px 5px;
}
#featureinfocontent b { 
	color:#3B6E8F; 
	font-weight: bold;
}
#featureinfocontent ul { 
	margin: 5px 0px;
	padding-left: 2px; 
	list-style-type: circle;
}
#featureinfocontent li { 
	margin-left: 2px; 
	padding-left: 2px; 
	list-style-position: inside;
}


.block h3 {
	border: solid 1px #cccccc;
	background-color: #efefef;
	padding-left: 3px;
	width: 100%;
}

p.important {
	color:#3c668d;
	font-weight: bold;
}

.argodates {

    font-size: .9em;
    background-color: #ffffff;
    padding: 2px 10px;
}


.olControlPanPanel div {
    margin-top: 45px;
}

/* Overview Map wigit */
.olControlOverviewMapElement {
	background-color: #3c668d;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover, .ygtvfocus{
	background-color: transparent;
}
a.ygtvlabel:hover {
	text-decoration:underline;
}

 
div.olControlScaleLineBottom {
	margin-top: -1;
}
div.olControlScaleLineTop, div.olControlScaleLineBottom {
	border-color: white;
}


.olControlEditingToolbar, .olControlEditingToolbarItemInactive {
width: 50px;
}
.olControlEditingToolbar div {
float: left;
}




/*
JQUERY AUTO COMPLETE
*/

.ac_results {
	padding: 0px;
	border: 1px solid #999;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}
