<plugin name='code-coverage' version='2.0.3-3' grailsVersion='1.3 &gt; *'>
  <title>Test Code Coverage Plugin</title>
  <description>Creates Code Coverage reports for your code</description>
  <documentation>https://github.com/beckje01/grails-code-coverage</documentation>
  <type>CodeCoverageGrailsPlugin</type>
  <resources />
</plugin>