body:after {
    content: "";
    position: fixed;
    background-color: white;
    bottom: -10px;
    left: -10px;
    width: 110%;
    height: 20px;
    box-shadow: 0px 0px 30px 5px rgba(250,250,250,1);
    z-index: 999;
}

a {
    color: #414141;
    font-weight: bold;;
}

td, p, button {
    font-family: inherit;
}

h1, h2 {
    white-space: normal;
}

img {
    vertical-align: top;
}

.white {
    color: white;
}

.white:hover {
    color: inherit;
}

.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sectionNavigator {
    width: 20px;
    padding: 20px;
    bottom: 0;
}

.headerHeightOverlord {
    height: 140px;
}

#header {
    min-width: inherit;
}

#home {
    background: #246190 url(../images/AODN/landing/Nature-Clear-Sky-Blue-Water.jpg) no-repeat top center fixed;
    box-shadow: inset 0 0 59px 3px rgba(16, 64,94, 0.9);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 60%;
    min-height: 360px;
    width: 100%;
    color: whitesmoke;
}

#home .btn-primary {
    background-color: #E38D1F;
    border: 2px solid white;
    font-weight: 700;
}

#home .btn-primary:hover {
    background-color: #E7AC5F;
    color: #fefefe;
    border: 2px solid white;
}

/* bootsrap v4Alpha */
.btn-secondary {
    background-color: #fff;
    border-color: #ccc;
    color: #373a3c;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#toplinks {

}

#home .homeContent p {
    font-family: "Oswald",sans-serif;
    font-size: 1.8em;
    margin: 10px 0 20px 0;
    text-shadow: 1px 1px 16px rgba(6,73,108, 0.62);
}

#home .homeContent h1 {
    font-family: impact, sans-serif;
    text-shadow: 1px 1px 16px rgba(6,73,108, 0.62);
    font-weight: 700;
    font-size: 8.5em;
    margin: 0;
    padding: 0;
}

a:focus {
    border: none !important;
    outline: 0;
}

#information {
    display: table;
    width: 100%;
    box-shadow: inset 5px 5px 5px 3px rgba(0, 0,0, 0.1);
    padding-top: 30px;
    padding-bottom: 50px;
}

#information img {
    padding: 0 5px 22px 5px;
}

.socialLinks {
    text-align: right;
}

@media (min-width: 1000px) {
    .container{
        max-width: 800px;
    }
}

@media (max-width: 1000px)  {
    .socialLinks {
        text-align: center;
    }
}

@media (max-width: 800px) {

    #home .homeContent p {
        font-size: 1.2em;
    }
    #home .homeContent h1 {
        font-size: 5.5em;
    }
}

@media (max-width: 750px) {

    #headerContainer {
        position: absolute;
        top: 120px;
        left: 0;
    }

    #headerContainer #headerTitle{
        padding-top: 0;
        padding-left: 42px;
    }
    .headerHeightOverlord {
        height: 180px;
    }
}


#toplinks a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: underline;
    font-weight: normal;
}

#toplinks a:hover {
    color: grey;
    text-shadow: none;
}

#toplinks a:not(:first-child) {
    border-left: 1px solid #9daab1;
}
