

@font-face {
    font-family: portalheader;
    src: url('../fonts/TerminalEvent.eot'); /* IE9 Compat Modes */
    src: url('../fonts/TerminalEvent.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/TerminalEvent.woff') format('woff'), /* Modern Browsers */ url('../fonts/TerminalEvent.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
    background-color: white;
    margin-top: 0 ! important;
}

body, html, td, p, button {
    font-family: 'Arimo', sans-serif;
}

body, html, td {
    color: #4D5B63;
}

h2 {
    margin-bottom: 14px;
}

#landingBigButton {
    background: #ffba66; /* Old browsers */
    background: -moz-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, #ffba66), color-stop(100%, #ffd29f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffba66 95%, #ffd29f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffba66', endColorstr='#ffd29f', GradientType=0); /* IE6-9 */
    border: 1px solid #bf915d;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #d3d3d3;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 34px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(205, 205, 205, 0.5);
    vertical-align: middle;
    white-space: nowrap;
}

.landingBling {
    margin: 15px 0 25px 0;
}

#logoContainer {
    margin-top: 10px;
    margin-left: 35px;
}

.buildInfo {
    color: #999999;
    font-size: 10px;
    margin-top: 20px;
}

.landingSubLeft {
    float: left;
    width: 36%;
}

.landingSubRight {
    float: right;
    width: 64%;
}

h1, h2, h3, h4,
.x-panel-header,
.x-window-header-text,
.search-filter-panel .filter-selection-panel-header-selected {
    color: #4D5B63;
}

#header {
    z-index: 300;
    width: 100%;
    background: #3b3e41; /* Old browsers */
    background: -moz-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b3e41), color-stop(23%, #565a5e), color-stop(49%, #5a5e62), color-stop(100%, #3b3e41), color-stop(100%, #0f0f0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* IE10+ */
    background: linear-gradient(to right, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3e41', endColorstr='#0f0f0f', GradientType=1); /* IE6-9 */
}

#landingHeaderContainer {
    margin-left: 260px;
}

#secondaryLogoContainer {
    right: 60px;
    top: 20px;
}

#headerTitle {
    font-family: 'portalheader';
    color: #FFFFFF;
    text-shadow: 1px 1px 8px #333;
    font-size: 46px;
    padding: 40px 0 6px 20px;
    margin: 0;
}

@media (max-width: 992px) {
    #headerTitle {
        font-size: 40px;
    }
}

@media (max-width: 768px) {

    #headerTitle {
        font-size: 38px;
    }
    #secondaryLogoContainer {
        display: none;
    }
}

#toplinks {
    color: #a4d2ee;
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

#toplinks {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}

#toplinks a:hover {
    color: grey;
    text-shadow: none;
}

#toplinks a:not(:first-child) {
    border-left: 1px solid #9DAAB1;
}

.viewPortTab * {
    color: #BF915D;
}

#viewPortLinks {
    border: none;
    background-color: #484848;
    background-image: none;
    background: #484848; /* Old browsers */
    background: -moz-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #484848), color-stop(51%, #484848), color-stop(100%, #3a3a3a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* IE10+ */
    background: linear-gradient(to right, #484848 0%, #484848 51%, #3a3a3a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#484848', endColorstr='#3a3a3a', GradientType=1); /* IE6-9 */
}

p {
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 25px;
}

input, select, textarea {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    margin-right: 5px;
    padding: 2px 4px;
    border-radius: 3px 3px 3px 3px;
}

.mainToolBarFooter {
    margin-right: 20px;
    font-size: 12px ! important;
}

.footer {
    background-color: whitesmoke;
}
.footer p {
    font-size: 10px;
}

.footer .x-box-inner {
    overflow: visible;
}

.footer a:hover {
    text-decoration: underline;
}

.x-toolbar {
    padding-top: 10px ! important;
    border: none;
    background: none;
}

.x-tab-strip span.x-tab-strip-text, .x-btn-text {
    color: #666;
}

ul.x-tab-strip-top {
    border: none;
}

.clear {
    height: 10px;
}

.x-btn, .x-btn button {
    font-size: 11px;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background: none;
}

#downLoadCartWidget {
    background-color: #ECECEC;
    color: black;
    border-radius: 0 0 8px 8px;
    right: 100px;
    top: 155px;
    box-shadow: 1px 1px 6px #999;
}

.x-btn.navigationButton {
    background-color: #FFBA66;
}

.x-btn.navigationButtonActive {
    background-color: #89C8EE;
}

.x-btn.navigationButton *{
    color: #2C2A25;
    font-weight: bold;
}

.x-btn.navigationButton.x-btn-over:not(.x-btn-selected) {
    background: #F9A840;
}

.x-btn.navigationButton.x-btn-over:not(.x-btn-selected)  *{
    color: white;
}

.x-btn-selected {
    background: #BBB8B5 ! important;
}

#viewPortLinks {
    box-shadow: 1px 1px 8px #666;
}

.viewPortTab {
    background: url(../images/viewPortTabUnselected.png) right 0 center no-repeat;
}

.viewPortTabActive *,
.viewPortTabActiveLast * {
    color: #212121 ! important;
}

.viewPortTabActive {
    background-color: #FFBA66; /* IE8 */
    background: url(../images/AODN/viewPortTabActive.png) right 0 center no-repeat #FFBA66;
    border: none;
}

.viewPortTabActiveLast {
    background: url(../images/AODN/viewPortTabActiveLast.png) right 0 center no-repeat;
}

.steps .stepTitle {
    color: black;
    font-weight: bold;
}

.steps .x-panel-header-text {
    font-size: 20px;
}

.hightlightInputbox {
    border-color: #AEAEAE;
}

.spatialSubsetControl {
    border: solid 1px #e8e8e8;
    margin-right: 5px;
    padding: 18px;
    border-radius: 6px;
}

.dataCollectionDetailsPanel .x-tool:not(:first-of-type) {
    margin: 3px 0;
}

.dataCollectionDetailsPanel .x-tool:first-of-type {
    margin-left: 6px;
    margin-right: 0;
}

.portalheader, .jumbotronFooter {
    padding: 10px 0;
    background-color: #666;
}

.jumbotronFooter {
    padding: 48px 0;
}
.jumbotronFooter * {
    color: #ffffff;
}
.jumbotronFooter a{
    color: #ccc;
}

dt {
    padding-top: 10px;
}
.x-window-plain .x-window-body {
    background-color: #fefefe !important;
}
