


.x-menu-floating {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.x-btn-text {
    font-weight: bold;
}

.x-tree-lines .x-tree-elbow-plus, .x-tree-lines .x-tree-elbow-end-plus{
    background-image: url('../img/icons/treePlus.png');
}
.x-tree-lines .x-tree-elbow-minus, .x-tree-lines .x-tree-elbow-end-minus{
    background-image:url('../img/icons/treeMinus.png');
}

.ext-el-mask {
    background-color: #666666;
}
   

.x-panel-body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 0px;
    background: none;
}
#leftMenus .x-layout-split {
    background-color: #ccc;
}

.x-tip-body {
    padding: 5px! important;
    background : none;
}

.x-border-layout-ct {
    background: none! important;
}
.x-slider {
    margin: 10px 3px;
}
.x-panel-ghost {
    background-color: white! important; 
    border: 0px;
    box-shadow: 3px 3px 5px 0 #666;
    margin: 0px;
}
.x-window-header-text {
    margin-right: 8px;
    margin-top : 4px;
}
.x-window-tl .x-window-header {
    padding: 10px 5px;
    color: #15428B;
}

.x-window-ml {  
  background-color: white! important;  
}  
  
.x-window-mc {  
  background-color: white! important;  
  border-width: 0px;  
} 
