p, h1, h2, h3 {
    margin: 0px 0px 8px 0px;
}

.x-menu-floating {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.x-toolbar .x-toolbar-cell {
    vertical-align: top;
}


.x-btn-text {
    font-weight: bold;
}
.x-form-invalid-tip .x-tip-body {
    background-image:none;
}

.x-tree-lines .x-tree-elbow-plus, .x-tree-lines .x-tree-elbow-end-plus{
    background-image: url('../img/icons/treePlus.png');
}
.x-tree-lines .x-tree-elbow-minus, .x-tree-lines .x-tree-elbow-end-minus{
    background-image:url('../img/icons/treeMinus.png');
}
.x-tool {
    margin-right: 4px;
}
.x-form-item {
    font: inherit;
}


.ext-el-mask, .x4-mask{
    background-color: #333333;
}
/* getfeatureinfo popup */
.gx-popup .x-window-body {
    /*background-color: #F4F4F4! important;*/
}
.gx-popup .x-tab-panel-header {
    border-width: 0px;
    background-color: #F4F4F4;
}
.gx-popup .x-tab-panel-header ul.x-tab-strip-top {
    background: none! important;
    background-color: #F4F4F4! important;
}

.gx-popup .x-tab-panel-body {
    border: none;
}
   

.x-panel-body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 0px;
    /*background: none;*/
}


.x-tip-body {
    padding: 5px! important;
    background : none;
}

.x-border-layout-ct {
    background: none! important;
}

.x-panel-ghost {
    background-color: white! important; 
    border: 0px;
    box-shadow: 3px 3px 5px 0 #666;
    margin: 0px;
}
.x-window-header-text {
    margin-right: 8px;
    margin-top : 4px;
}
.x-window-tl .x-window-header {
    padding: 10px 5px;
}

.x-window-ml {  
  background-color: white! important;  
}  
  
.x-window-mc {  
  background-color: white! important;  
  border-width: 0px;  
} 
.x-combo-list-item img {
    width: 30px;
    height: 20px;
    float: right;
    margin-left: 10px;
}
.x-combo-list-item p {
    float: left;
}
.legendImage {
    margin: 10px 0px;
}
.x-item-disabled {
    box-shadow: 0 0 0 0 white! important;
    background-color: inherit! important;
}


.x-form-cb-label {
	color: #666;
}


input.x-tree-node-cb {
    margin: 0px;
}





