/*
 * Copyright 2012 IMOS
 *
 * The AODN/IMOS Portal is distributed under the terms of the GNU General Public License
 *
 */

body, html, td {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
}

h1, h2, h3 {
    white-space: nowrap;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
    margin: 4px 0;
}

h5 {
    font-size: 11px;
    margin: 2px 0;
}

h6 {
    display: inline;
    font-size: 11px;
    margin: 2px 0;
}

p, td {
    font-family: helvetica, arial, sans-serif;
}

body {
    min-width: 1020px;
}

input[type="checkbox"], input[type="radio"] {
    background: transparent;
    border: 0;
}

input.readonlyInput {
    border: none;
}

.x-splitbar-v {
    background-color: #fafafa;
}

.roundedImages {
    border-radius: 6px;
}

.imageLabel {
    margin: 2px;
    margin-left: 13px;
    font-size: 10px;
}

.searchInput {
    display: block;
    height: 27px;
    padding: 15px;
    font-size: 14px;
    color: inherit;
    border-color: #777777;
}

.searchInput.x-form-empty-field {
    color: #15428B;
    font-size: inherit;
    font-weight: bold;
}

.userWMSInput {
    display: block;
    height: 22px;
    padding: 10px;
    margin: 0 0 10px 0 ! important;
    font-size: 12px;
    color: inherit;
}

.x-panel .faceted-search-clear-all {
    font-size: smaller;
    font-weight: normal;
}

.faceted-search-results {
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.05) inset;
    border-radius: 6px;
}

.faceted-search-clear-all a:hover {
    text-decoration: none;
}

#activeTreePanel input {
    margin: 0;
}

a {
    color: #333333;
}

a:hover {
    color: black;
}

a img {
    border: none;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: -webkit-linear-gradient(left, rgba(200, 200, 200, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatFullHeight::after {
    display: block;
    content: "";
    clear: both;
}

.small {
    font-size: 0.8em;
}

.homePanelWidget {
    margin-right: 10px;
    padding-right: 20px;
}

.buttonPad {
    padding: 2px 2px 5px 0
}

.arrowUp {
    background: url("../images/arrowUp.png") no-repeat left top transparent;
}

.arrowDown {
    background: url("../images/arrowDown.png") no-repeat left top transparent;
}

.arrowUpWhite {
    background: url("../images/arrowUpWhite.png") no-repeat left top transparent;
}

.arrowDownWhite {
    background: url("../images/arrowDownWhite.png") no-repeat left top transparent;
}

.leftMenus {
    background-color: white;
    border-radius: 12px 12px 12px 12px;
}

#logo {
    margin: 3px 5px;
    float: left;
}

#headerTitle {
    padding: 30px 20px 0 20px;
    margin-left: 250px;
}

#toplinks {
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

.searchField {
    padding: 3px 5px 3px 5px;
}

.searchFieldSelectors {
    margin: 3px 0;
    background-color: #fafafa;
}

.noborder {
    border: none ! important;
}

/*
    map while loading
*/
.olMapViewport {
    background-color: #7391AD;
}

/* added to buttons on hover with jQuery */
.hover {
    color: black;
    background-color: #CCCCCC;
    border: 1px solid #666;
    cursor: pointer;
}

.hoverText {
    background-color: #CCCCCC;
    margin: 3px;
    padding: 3px;
}

.link {
    cursor: pointer;
}

#centerTabPanel {
    border: 0 solid white;
}

#loader {
    background-color: #0B5584;
    background-color: rgba(11, 85, 132, 0.5);
    border: 0;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-right: 3px;
    width: 220px;
    box-shadow: -5px 5px 25px rgba(24, 57, 78, 0.3), 0 0 1px rgba(24, 57, 78, 0.2) inset
}

#loader span {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 2px 1px 3px #18394E;
    white-space: nowrap;
    line-height: 75px;
}

.nowrap {
    white-space: nowrap;
}

.mapFooter {
    background: url("../images/shadowLight.png") repeat-x scroll left top white;
}

/* animation buttons */
.ffButton {
    background: url("../images/animation/fastForward-white.png") no-repeat left top transparent;
}

.rewindButton {
    background: url("../images/animation/rewind-white.png") no-repeat left top transparent;
}

.pauseButton {
    background: url("../images/animation/pause-white.png") no-repeat left top transparent;
}

.playButton {
    background: url("../images/animation/play-white.png") no-repeat left top transparent;
}

.stopButton {
    background: url("../images/animation/stop-white.png") no-repeat left top transparent;
}

.downloadButton {
    background: url("../images/animation/download-white.png") no-repeat left top transparent;
}

.spacer {
    margin: 25px 0;
}

.minispacer {
    margin: 7px 0;
}

.logoSpacer {
    margin: 2px;
}

/*
Site navigation
*/

#viewPortLinks {
    background-color: #484848;
    position: relative;
    float: left;
    width: 100%;
    border: 2px solid #6b6b6b;
    vertical-align: middle;
}

#viewPortLinks a {
    text-decoration: none;
    outline: none;
}

#viewPortLinks a:hover {
    text-decoration: none;
}

.viewPortTab {
    border-bottom-right-radius: 20px 60px;
    border-right: 2px solid #6B6B6B;
    border-top-right-radius: 20px 60px;
    display: block;
    float: left;
    padding: 12px 20px 6px 80px;
    width: 200px;

}

.viewPortTab * {
    color: #fafafa;
    margin: 0;
}

.viewPortTab h1 {
    line-height: 26px;
    float: left;
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.viewPortTab h2 {
    line-height: 12px;
}

.viewPortTabActive {
    background: black;
    box-shadow: 5px 2px 5px rgba(50, 50, 50, 0.75);
    border-right: 2px solid #2F2E2E;
    border-bottom: 1px solid #2F2E2E;
    border-top-right-radius: 20px 60px;
}#744646

.viewPortTabActive * {
    /*color: white ! important;*/

}

.viewPortTabHover {

    background: #696969;
    background: -moz-linear-gradient(left,  rgba(105,105,105,0) 0%, rgba(105,105,105,1) 14%, rgba(105,105,105,1) 17%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(105,105,105,0)), color-stop(14%,rgba(105,105,105,1)), color-stop(17%,rgba(105,105,105,1)));
    background: -webkit-linear-gradient(left,  rgba(105,105,105,0) 0%,rgba(105,105,105,1) 14%,rgba(105,105,105,1) 17%);
    background: -o-linear-gradient(left,  rgba(105,105,105,0) 0%,rgba(105,105,105,1) 14%,rgba(105,105,105,1) 17%);
    background: -ms-linear-gradient(left,  rgba(105,105,105,0) 0%,rgba(105,105,105,1) 14%,rgba(105,105,105,1) 17%);
    background: linear-gradient(to right,  rgba(105,105,105,0) 0%,rgba(105,105,105,1) 14%,rgba(105,105,105,1) 17%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00696969', endColorstr='#696969',GradientType=1 );


    border-right: 3px solid #2F2E2E;
    border-bottom: 1px solid #000000;
}

.viewPortTabDisabled * {
    color: #888888 ! important;
    cursor: default;

}

.x-btn.forwardsButton {
    border-radius: 0px 12px 12px 0px;
}

.x-btn.backwardsButton {
    border-radius: 12px 0px 0px 12px;
}

.community {
    padding: 10px 0;
}

#mapSpinnerPanel {
    padding-left: 10px;
}

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.motd {
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    border: 6px solid #F4F4F4;
    font-size: 12px;
    background-image: none;

}

/* Our own style is applied to the message of the day dialog (see above). */
.motd div[class^='x-window'] {
    background-image: none;
}

#mainMapCentrePanel {
    background-color: #8AA8C4;
}

a[rel="external"], a.external {
    padding-right: 15px;
    background: url(../images/extlink.gif) no-repeat 100% 50%;
    zoom: 1;
}

.mainlinks {
    margin-right: 10px;
    padding-left: 10px;
}

a:hover.mainlinks {
    color: black;
}

.noBackgroundImage * {
    background-image: none ! important;
}

.bold {
    font-weight: bold;
}

/* login register forgotten password */
.auth table {
    border: 0;
    border-spacing: 4px;
}

.authentication-formLinks {
    position: absolute;
    top: 150px;
    left: 30px;
    font-size: 14px;
}

.authentication-form-floated {

    position: absolute;
    top: 150px;
    left: 210px;
}

.authentication-form h2 {
    padding-bottom: 0.8em;
}

.authentication-form label {
    font-weight: bold;
    font-size: 13px;
}

.authentication-form .authentication-hints {
    font-size: 0.9em;
    font-style: italic;
    padding: 10px 5px;
}

/* MESSAGES AND ERRORS */

.errors, .message {
    font-size: 0.9em;
    line-height: 2;
    margin: 2em 0;
    padding: 0.5em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0 50% no-repeat;
    text-indent: 22px;
}

.message {
    background: transparent url(../images/skin/information.png) 3px 5px no-repeat;
    text-indent: 22px;
    padding: 5px;
}

/*
Geoserver default tables
*/
table.featureInfo, table.featureInfo td, table.featureInfo th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 90%;
    padding: .2em .1em;
}

table.featureInfo th {
    padding: .2em .2em;
    font-weight: bold;
    background: #eee;
}

table.featureInfo td {
    background: #fff;
}

table.featureInfo tr.odd td {
    background: #eee;
}

table.featureInfo caption {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: .2em .2em;
}

#mapdiv {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.leftdrop {
    background-image: url(../images/leftshadow.png);
    background-position: left top;
    background-repeat: repeat-y;
    z-index: 101;
    width: 10px;
    height: 100%;
    position: absolute;
}

#mapscale {
    width: 90px;
    z-index: 3;
    position: relative;
    float: left;
    color: white;
}

#mapcoords {
    width: 90px;
    z-index: 4;
    position: relative;
    float: right;
    color: white;
    background: inherit;
}

#mapcoords b {
    background: none;
}

#mapinfo {
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    display: block;
    position: absolute;
    width: 220px;
    z-index: 3;
    font-family: Arial;
    font-size: smaller;
    border-radius: 5 ! important;
    border-width: 1px 1px 0 0;
    background-color: #3c668d;
    opacity: 0.0;
    -ms-filter: "alpha(opacity=0)"; /* IE8 */
    filter: alpha(opacity=0); /* IE6/IE7 */
}

/* map toolbar */

.semiTransparent {
    background-image: none;
    background-color: #3c668d ! important;
    opacity: 0.7;
    -ms-filter: "alpha(opacity=70)"; /* IE8 */
    filter: alpha(opacity=70); /* IE6/IE7 */

    /*color: white;*/
}

.expandUpLink {
    background: url('../images/mini-up.png') center 2px no-repeat;
}

.expandDownLink {
    background: url('../images/mini-down.png') center 2px no-repeat;
}

#maptools .x-panel-body {
    border-radius: 5px;
}

.animationWindow {
    bottom: 0 ! important;
    top: auto ! important;
    left: 0;
    z-index: 900 ! important;
    border-radius: 0;
}

.animationControlsPanel {
    width: 450px;
    padding: 2px 6px 0px 6px;
    margins: 2px;
}

.animationSubPanel label,
.animationSubPanel button {
    color: white;
    font-weight: bold;
}

.animationSubPanel .x-btn-over button {
    color: black;
}

.semiTransparent .x-item-disabled * {
    color: #eee ! important;
}

.fullTransparency {
    opacity: 1.0 ! important;
    -ms-filter: "alpha(opacity=100)"; /* IE8 */
    filter: alpha(opacity=100); /* IE6/IE7 */
}

.mapToolbarExpanderBarOver {
    background-color: white ! important;
}

.fullTransparency .x-item-disabled * {
    color: #666 ! important;
}

.fullTransparency button, .fullTransparency a {
    color: #333;
}



/* getFeatureInfo popup
*/

.popupHtml {
    color: #6A6A6A;
    font-size: smaller;
    background-color: #F4F4F4;
    padding: 4px;
    width: 97%;

}

.featureinfocontent {
}

.feature {
    padding: 8px 5px;
}

.nofeature {
    margin: 2px 0 5px 0;
    padding: 5px;
    width: 100%;
    background-color: #fafafa;
}

.feature ul li {
    margin-left: 1em;
}

.featureinfocontent .info {
    padding: 5px;
    margin: 4px;
    border: 1px solid #6D889C;
    background: #B6C3CD;
}

.featureinfocontent .error {
    padding: 5px;
    margin: 4px;
    border: 1px solid #ACAC0C;
    background: #FCFCCF;
}

.featureinfocontent {
    padding: 10px 3px 3px 10px;
    background-color: white;
    position: relative;
}

.featureinfocontent_topborder {
    margin-top: 10px;
    clear: both;
}

.featureinfocontent_topborderimg {
    width: 100%;
    position: absolute;
}

.featureinfocontent img {
    padding: 10px 5px;
}

.featureinfocontent b {
    color: #6A6A6A;
    font-weight: bold;
}

.featureinfocontent ul {
    margin: 5px 0;
    padding-left: 2px;
    list-style-type: circle;
}

.featureinfocontent li {
    margin-left: 2px;
    padding-left: 2px;
    list-style-position: inside;
}

.block h3 {
    border: solid 1px #cccccc;
    background-color: #efefef;
    padding-left: 3px;
    width: 100%;
}

p.important {
    color: #3c668d;
    font-weight: bold;
}

.extAjaxLoading {
    border-radius: 4px;
    padding: 3px;
    background-color: #ffffff ! important;
}

.extAjaxLoading div {
    background-color: #ffffff ! important;
}

.fb-like-box, .fb_iframe_widget {
    background-color: #ffffff;
}

.x-panel-header {
    background-image: none;
    background-color: inherit;
    border: none;
    font-size: 13px;
}

.addServerStatusPanel .x-panel-header {
    padding-top: 0;
}

/* openlayers */

.olControlPanel .olControlNavigationItemActive,
.olControlPanel .olControlNavigationItemInactive,
.olControlPanel .olControlZoomBoxItemActive,
.olControlPanel .olControlZoomBoxItemInactive,
.olControlPanel .olControlEditingToolbar,
.olControlPanel .olControlEditingToolbarItemInactive {
    background-image: url("../images/raa_y.gif");
    display: block;
    height: 25px;
    width: 45px;
}

.olControlZoomBoxItemActive {
    background-position: -600px 0;
}

.olControlZoomBoxItemInactive {
    background-position: -500px 0;
}

.olControlZoomBoxItemInactive:hover {
    background-position: -600px 0;
}

.olControlNavigationItemActive {
    background-position: -800px 0;
}

.olControlNavigationItemInactive {
    background-position: -700px 0;
}

.olControlNavigationItemInactive:hover {
    background-position: -800px 0;
}

.olControlPanel {
    margin-left: 5px;
    /*width: 62px;*/
    top: 230px;
}

.olControlScaleLine {
    bottom: 3px ! important;
}

div.olControlMousePosition {
    bottom: 5px ! important;
    left: 120px;
    font-size: 11px ! important;
    font-weight: bold;
    right: auto ! important;
    color: #253745;
}

.olControlLayerSwitcher {
    border-radius: 6px 0 0 6px;
    font-size: smaller ! important;
    font-weight: normal ! important;
}

.olControlLayerSwitcher .layersDiv, .olControlLayerSwitcher > div > span {
    background-color: #34546E !important;
}

.olControlOverviewMapElement {
    background-color: #34546E ! important;
    border-radius: 6px 0 0 0;
    opacity: 0.85;
    -ms-filter: "alpha(opacity=85)"; /* IE8 */
    filter: alpha(opacity=85); /* IE6/IE7 */
}

.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
    top: 18px ! important;
    z-index: 10000;
    cursor: pointer;
}

.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton,
.minimizeDiv,
.maximizeDiv {
    cursor: pointer;
}

.layersDiv {
    opacity: 0.85;
    -ms-filter: "alpha(opacity=85)"; /* IE8 */
    filter: alpha(opacity=85); /* IE6/IE7 */
}

div.olControlScaleLineBottom {
    margin-top: -1px;
}

div.olControlScaleLineTop, div.olControlScaleLineBottom {
    border-color: #253745;
    color: #253745;
    font-weight: bold;
}

.olControlEditingToolbar, .olControlEditingToolbarItemInactive {
    width: 50px;
}

.olControlEditingToolbar div {
    float: left;
}

.olControlDrawFeatureActive .olControlDrawFeature {
    position: absolute;
    float: left;
    width: 42px;
    z-index: 1001;
    margin-top: 280px;
    margin-left: 3px;
    height: 22px;
    background-image: url("../images/draw.png?");
    background-position: 12px 1px;
    background-repeat: no-repeat;
    display: block;
}

#mapActionsWindow.x-window {
    box-shadow: none;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover, .ygtvfocus {
    background-color: transparent;
}

a.ygtvlabel:hover {
    text-decoration: underline;
}

/*
JQUERY AUTO COMPLETE
*/

.ac_results {
    padding: 0;
    border: 1px solid #999;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('../images/spinner.gif') right center no-repeat;
}

.smallIndentInputBox {
    padding-left: 0 ! important;
}

#detailsPanel {
    z-index: 1200 !important
}

.emptyActiveLayerTreePanelText {
    margin: 10px;
    font-weight: normal;
    font-style: italic;
}

.p-btn-transect {
    background-image: url(../images/draw.png);
}

#menuHeaderTail {
    background: url(../images/menuHeader.png) 0 -13px repeat-x;
}

.layer_blacklisted {
    background-color: #333333;
}

.layer_inactive a span {
    color: #888;
}

#national_tidal_centre_list li {
    padding-left: 2em;
}

#welcome {
    font-size: 1.2em;
}

#welcome ul {
    padding: 0 0 10px 10px;
    margin: 0 0 10px 10px;
    list-style-type: disc;
}

.clear {
    clear: both;
    height: 1px;
}

.top_padded {
    padding-top: 1.3em;
}

.wrapping-wrapped-field {
    white-space: normal;
}

.p-centre-item {
    margin: 0 auto;
    text-align: left;
}

.p-centre {
    text-align: center;
}

.p-search .x-grid3-row {
    padding: 10px 0;
}

.p-header-space {
    border-radius: 12px 12px 0 0;
}

div.allwhite {
    color: white;
    border-color: white;
}

/* Faceted search styles */
.search-filter-panel .x-panel-header {
    /*color: #8a2be2;*/
    height: 12px;
    font-size: 12px;
    padding: 5px 2px 5px 2px;
}

.term-selection-panel {
    border: 1px solid #EEE;
    margin-bottom: 3px;
}

.term-selection-panel:hover {
    border: 1px solid #CCC;
}

.term-selection-panel .x-panel-header {
    background-color: #dfdfdf;
    padding-bottom: 7px;
}

.term-selection-panel .x-panel-header:hover {
    background-color: #eeeeee;
}

.p-selected-view {
    margin: 5px;
}

.p-selection-wrap * {
    vertical-align: middle;
}

.p-selection-wrap input {
    margin-bottom: 2px;
    margin-right: 5px;
}

.term-selection-panel-header {
    padding-left: 3px;
}

.search-filter-panel .term-selection-panel-header-selected {
    color: #666;
    font-weight: bold;
    font-style: italic;
}

.facetedSearchResultBody {
    overflow: auto;
}

.facetedSearchResultTextBody .x-panel-header {
    font-size: 13px;
}

.faceted-search-disclaimer {
    border: 1px solid #ffcc55;
}

.faceted-search-disclaimer .x-panel-body {
    padding: 2px 2px 2px 4px;
    background-color: #fffacd;
}

.remove-layer-button, .zoom-to-layer-button, .layer-loading-button, .layer-loaded-button, .layer-error-button {
    width: 12px;
    height: 14px;
    vertical-align: bottom;
    margin: 1px;
    background-color: #ffff99
}

.facetedSearchResultRow {
    background: #eeeeee;
    background: rgb(239, 239, 239);
    background: -moz-linear-gradient(top, #C9C9C9 2%, #F9F9F9 40%, #FBFBFB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #F8F7F7), color-stop(40%, #F9F9F9), color-stop(100%, #FBFBFB));
    background: -webkit-linear-gradient(top, #C9C9C9 2%, #F9F9F9 40%, #FBFBFB 100%);
    background: -o-linear-gradient(top, #C9C9C9 2%, #F9F9F9 40%, #FBFBFB 100%);
    background: -ms-linear-gradient(top, #C9C9C9 2%, #F9F9F9 40%, #FBFBFB 100%);
    background: linear-gradient(to bottom, #C9C9C9 2%, #F9F9F9 40%, #FBFBFB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#FBFBFB', GradientType=0);

    border-left: 1px solid #CCCCCC;
    margin-top: 4px;
    padding: 3px 10px;
}

.facetedSearchBtn {
    float: right;
    margin-right: 10px;
}

.facetedSearchResultHeader {
    float: left;
    line-height: 25px;
}

.facetedSearchResultTextBody {
    margin: 5px;
}

.navigationButton button:hover {
    color: black;

}

.remove-layer-button {
    background: url(../images/remove_layer2.png) center no-repeat transparent;
}

.zoom-to-layer-button {
    background: url(../images/zoom_to_layer2.png) center no-repeat transparent;
}

.layer-loading-button {
    visibility: visible;
    background: url('../images/spinner_12x12.gif') center no-repeat transparent;
}

.layer-loaded-button {
    visibility: hidden;
}

.layer-error-button {
    visibility: visible;
    background: url('../images/error.png') center no-repeat transparent;
}

#activeLayerTreePanel img.x-tree-node-icon {
    width: 1px;
}


.hidden {
    display: none;
}





.gx-popup .x-tab-panel-body {
    border: none;
}

.download-collection {
    margin: 0.5em 0 1.5em 0;
    background-color: #FAFAFA;
}

.download-collection .title-row {
    background-color: #C0C0C0;
    padding: 0.4em;
    font-size: 1.5em;
}

.download-collection .row {
    margin: 0.6em 0.2em 0.2em 0.2em;
    border: 1px solid #E0E0E0;
    background-color: #FAFAFA;
}

.download-collection .subheading {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #E0E0E0;
    padding: 0.3em;
}

.download-collection .entry {
    margin-top: 0.1em;
    padding: 0.4em;
}

.download-collection .row code {
    background-color: #EEE;
    border-radius: 4px;
}

.download-collection .x-btn {

    border: 2px solid #E0E0E0;
    background-color: #EEE;
}

.download-collection .x-btn-text {

    color: black;
}

.download-collection .secondary-text {
    font-style: italic;
    color: #666;
}

/* Bug #9 - show blank tiles on image load error. */
.olImageLoadError {
    display: none;
}

.highlight:hover {
    background-color: #ffff99
}

.WAMiniLogo {

    vertical-align: middle;
    margin-bottom: 6px;
}

.search-filters-toolbar.x-toolbar {
	background-color: inherit;
	border-width: 0px;
}

.search-filters-toolbar .x-panel-header-text {
    font-size: 14px;
    font-weight: bold;
}

.mainNavigationButton.x-btn {
    background: none repeat scroll 0 0 #F4A62B;
}

.mainNavigationButton .x-btn-text {
    font-size: 12px;

}

