body, html, td, p, button {
    font-family: arial, sans-serif;
    font-size: 12px;
}

h1, h2 {
    white-space: nowrap;
}

h3 {
    white-space: pre-wrap;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 13px;
}

h4 {
    font-size: 12px;
    margin: 4px 0 0 0;
}

h5 {
    font-size: 11px;
    margin: 2px 0;
}

h6 {
    display: inline;
    font-size: 11px;
    margin: 2px 0;
}

input[type="checkbox"], input[type="radio"] {
    background: transparent;
    border: 0;
}

.x-splitbar-v {
    background-color: #fafafa;
}

.roundedImages {
    border-radius: 6px;
}

.faceted-search-results,
.downLoadPanelBody {
    box-shadow: inset 1px 1px 6px 1px  #eee;
    border-radius: 3px;
    padding: 10px 6px;
}

.downloadPanelItem {
    margin-left: 12px;
}

a {
    color: inherit;
}

a:hover {
    color: black;
}

a.noUnderline {
    text-decoration: none;
}

a img {
    border: none;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(46%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.65) 46%, rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */
}

.floatLeft {
    float: left! important;
}

.floatRight {
    float: right! important;
}

.floatFullHeight::after {
    display: block;
    content: "";
    clear: both;
}

.small {
    font-size: 0.9em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.buttonPad {
    padding: 2px 2px 5px 0
}

.leftMenus {
    background-color: white;
    border-radius: 12px 12px 12px 12px;
}

.headerHeightOverlord {
    height: 130px;
}

#logoContainer,
#headerContainer {
    float: left;
}

#secondaryLogoContainer {
    top: 40px;
    right: 20px;
    position: absolute;
}

.bigtext {
    font-size: 18px;
    margin: 10px 0;
}

#toplinks {
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

/*
    map while loading
*/
.olMapViewport {
    background-color: #7391AD;
}

/* added to buttons on hover with jQuery */
.hover {
    color: black;
    background-color: #CCCCCC;
    border: 1px solid #666;
    cursor: pointer;
}

.hoverText {
    background-color: #CCCCCC;
    margin: 3px;
    padding: 3px;
}

.link {
    cursor: pointer;
}

.olDragDown:not(.olControlZoomBoxActive) {
    cursor: crosshair;
}

.nowrap {
    white-space: nowrap;
}

/* animation buttons */
.nextButton {
    background: url("../images/arrowNext.png") no-repeat left top transparent;
}

.previousButton {
    background: url("../images/arrowPrev.png") no-repeat left top transparent;
}

.listButtonWrapper {
    margin-top: 3px;
}

.removeButton {
    margin-right: 10px;
}

.spacer {
    margin: 25px 0;
}

.miniSpacer {
    margin: 7px 0;
}

.block {
    display: block;
    clear: both;
}

div.x-hyperlink,
span.x-hyperlink {
    font-style: italic;
}

div.x-hyperlink{
     margin: 5px 0;
}

div.x-hyperlink a{
    color: inherit;
}

div.x-hyperlink a:hover{
    color: black;
}

.x-btn {
    padding: 0 6px;
    background-color: #EEEEEE;
    border-radius: 6px;
    margin-right: 3px;
}

.clearFiltersLink {
    float: right;
    margin-right: 17px;
}

.italic {
    font-style: italic;
}

/*
Site navigation
*/

#viewPortLinks {
    background-color: #484848;
    background: url(../images/viewPortLinks.png) repeat;
    position: relative;
    float: left;
    width: 100%;
    border: 2px solid #6b6b6b;
    vertical-align: middle;
    min-width: 920px;
}

#viewPortLinks a {
    text-decoration: none;
    outline: none;
}

#viewPortLinks a:hover {
    text-decoration: none;
}

.viewPortTab {
    display: block;
    float: left;
    padding: 0 20px 4px 20px;
    width: 260px;
}

.viewPortTab * {
    color: #fafafa;
    cursor: pointer;
}

.viewPortTab *:focus {
    outline: none !important;
}

.viewPortTab button {
    background-color: inherit;
    border: none;
    margin-left: 35px;
    padding: 2px;
}

.viewPortTab h1 {
    top: .1em;
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

.viewPortTab h1,
.viewPortTab h2 {
    display: inline-block;
    margin: 0 3px;
}

.viewPortTabActive {
    background: black;
}

.viewPortTabDisabled * {
    cursor: default;
}

.x-btn.forwardsButton {
    border-radius: 2px 8px 8px 2px;
}

.x-btn.backwardsButton {
    border-radius: 8px 0 0 8px;
}

.motd {
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    border: 6px solid #F4F4F4;
    font-size: 12px;
    background-image: none;
}

/* Our own style is applied to the message of the day dialog (see above). */
.motd div[class^='x-window'] {
    background-image: none;
}

/* emulate Bootstrap 'fa fa-fw fa-external' in single class */
a[rel="external"]:after,
a.external:after {
    display: inline-block;
    font: 90% FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(2px, 1px);
    width: 1.28571429em;
    text-align: center;
    content: " \f08e";
}

.mainlinks {
    margin-right: 10px;
    margin-left: 5px;
    padding-left: 10px;
}

a:hover.mainlinks {
    color: black;
}

/* MESSAGES AND ERRORS */

.error {
    color: #aa6708;
}

.fa-warning {
    color: #aa6708;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-weight: bold;
}

.alert-attention {
    background-color: #eeeeee;
}

.alert-warning, .alert-warning * {
    color: #8a6d3b;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
}

/*
Geoserver default tables in external GFI
*/
table.featureInfo, table.featureInfo td, table.featureInfo th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 90%;
    padding: .2em .1em;
}

table.featureInfo th {
    padding: .2em .2em;
    font-weight: bold;
    background: #eee;
}

table.featureInfo td {
    background: #fff;
}

table.featureInfo tr.odd td {
    background: #eee;
}

table.featureInfo caption {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: .2em .2em;
}

#mapscale {
    width: 90px;
    z-index: 3;
    position: relative;
    float: left;
    color: white;
}

#mapcoords {
    width: 90px;
    z-index: 4;
    position: relative;
    float: right;
    color: white;
    background: inherit;
}

#mapcoords b {
    background: none;
}

#mapinfo {
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    display: block;
    position: absolute;
    width: 220px;
    z-index: 3;
    font-family: Arial;
    font-size: smaller;
    border-radius: 5px ! important;
    border-width: 1px 1px 0 0;
    background-color: #3c668d;
    opacity: 0.0;
    -ms-filter: "alpha(opacity=0)"; /* IE8 */
    filter: alpha(opacity=0); /* IE6/IE7 */
}

div.olMap.miniMap {
    border: 1px solid #ccc !important;
}

div.olMap.miniMap:hover:not(.x-item-disabled) {
    opacity: 0.7;
    cursor: pointer;
}

div.olMap.x-item-disabled * {
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='saturate' values='0.8' /></filter></svg>#greyscale");
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    -o-filter: grayscale(40%);
    -ms-filter: grayscale(40%);
    filter: grayscale(40%);
}

#maptools .x-panel-body {
    border-radius: 5px;
}

.animationWindow {
    bottom: 0 ! important;
    top: auto ! important;
    left: 0;
    z-index: 900 ! important;
    border-radius: 0;
}

.fullTransparency {
    opacity: 1.0 ! important;
    -ms-filter: "alpha(opacity=100)"; /* IE8 */
    filter: alpha(opacity=100); /* IE6/IE7 */
}

.mapToolbarExpanderBarOver {
    background-color: white ! important;
}

.fullTransparency .x-item-disabled * {
    color: #666 ! important;
}

.fullTransparency button, .fullTransparency a {
    color: #333;
}

/* getFeatureInfo popup
*/

.gx-popup.x-window, .ext-el-mask-msg {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    border: 1px solid #CCCCCC;
}

.gx-popup-anc{
    background:transparent url(/images/popupPointer.png) no-repeat 0 0;
    position:absolute;
    left:45px;
    z-index:2;
    height:20px;
    width:40px;
    pointer-events:none;
}
.gx-popup-anc.top{
    background:transparent url(/images/popupPointer-top.png) no-repeat 0 0;
    top: -20px;
    height:20px;
    left:40px;
}
.gx-popup-anc.right{
    left:auto;
    right:45px;
}

.popupHtml {
    color: #6A6A6A;
    font-size: smaller;
    background-color: #F4F4F4;
    padding: 4px;
    width: 97%;
}

.featureinfocontent .info {
    padding: 5px;
    margin: 4px;
    border: 1px solid #6D889C;
    background: #B6C3CD;
}

.featureinfocontent .error {
    padding: 5px;
    color: inherit;
    margin: 4px;
    border: 1px solid #ACAC0C;
    background: #FCFCCF;
}

.featureinfocontent {
    padding: 10px 3px 3px 10px;
    background-color: white;
    position: relative;
}

.featureinfocontent_topborder {
    margin-top: 10px;
    clear: both;
}

.featureinfocontent_topborderimg {
    width: 100%;
    position: absolute;
}

.featureinfocontent img {
    padding: 10px 5px;
}

.featureinfocontent b {
    color: #6A6A6A;
    font-weight: bold;
}

.featureinfocontent ul {
    margin: 5px 0;
    padding-left: 2px;
    list-style-type: circle;
}

.featureinfocontent li {
    margin-left: 2px;
    padding-left: 2px;
    list-style-position: inside;
}

.block h3 {
    border: solid 1px #cccccc;
    background-color: #efefef;
    padding-left: 3px;
    width: 100%;
}

p.important {
    color: #3c668d;
    font-weight: bold;
}

.extAjaxLoading {
    border-radius: 4px;
    padding: 3px;
    background-color: #ffffff ! important;
}

.extAjaxLoading div {
    background-color: #ffffff ! important;
}

.x-panel-header {
    background-image: none;
    background-color: inherit;
    border: none;
    font-size: 13px;
}

.x-tree-node a span, .x-dd-drag-ghost a span {
    font-size: 12px;
}

.addServerStatusPanel .x-panel-header {
    padding-top: 0;
}

/* openlayers */

div.olMap:not(.miniMap) {
    cursor: crosshair;
}

div.olMap div[class^="olControl"],
.olControlNavigationActive {
    cursor: default;
}

div.olMap .olControlDragPanActive.olDragDown {
    cursor: all-scroll;
}

div[class^='olControlNavigationItem'],
div[class^='olControlZoomBoxItem'],
div[class^='olControlDrawFeatureItem'] {
    background-image: url("../images/raa_y.png");
    display: block;
    height: 25px;
    width: 45px;
}

.olControlZoomBoxItemActive {
    background-position: -600px 0;
}

.olControlZoomBoxItemInactive {
    background-position: -500px 0;
}

.olControlZoomBoxItemInactive:hover {
    background-position: -600px 0;
}

.olControlNavigationItemActive {
    background-position: -800px 0;
}
.olControlDrawFeatureItemInactive {
    background-position: -500px 0;
}
.olControlDrawFeatureItemInactive:hover {
    background-position: -450px 0;
}
.olControlDrawFeatureItemActive {
    background-position: -600px 0;
}
.olControlDrawFeatureItemActive:hover {
     background-position: -550px 0;
 }


.olControlNavigationItemInactive {
    background-position: -700px 0;
}

.olControlNavigationItemInactive:hover {
    background-position: -650px 0;
}

.olControlNavigationItemActive:hover {
    background-position: -750px 0;
}

.olControlPanel {
    margin-left: 5px;
    top: 230px;
}

.olControlGeoFacetToolbar {
    top: 10px;
    right: 0;
}

.olControlScaleLine {
    bottom: 3px ! important;
}

div.olControlMousePosition {
    bottom: 5px ! important;
    left: 120px;
    font-size: 11px ! important;
    font-weight: bold;
    right: auto ! important;
    color: #253745;
}

.olControlLayerSwitcher  {
    width: 23em! important;
    border-radius: 6px 0 0 6px;
    font-size: smaller ! important;
    font-weight: normal ! important;
    background-color: #34546E !important;
}

.olControlLayerSwitcher .layersDiv, .olControlLayerSwitcher > div > span {
    margin: 10px;
    color: white;
    background-color: #34546E !important;
}

.olControlOverviewMapElement {
    background-color: #34546E ! important;
    border-radius: 6px 0 0 0;
    opacity: 0.85;
    -ms-filter: "alpha(opacity=85)"; /* IE8 */
    filter: alpha(opacity=85); /* IE6/IE7 */
}

.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
    top: 18px ! important;
    z-index: 10000;
    cursor: pointer;
}

.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton,
.minimizeDiv,
.maximizeDiv {
    cursor: pointer;
}

.layersDiv {
    opacity: 0.85;
    -ms-filter: "alpha(opacity=85)"; /* IE8 */
    filter: alpha(opacity=85); /* IE6/IE7 */
}

div.olControlScaleLineBottom {
    margin-top: -1px;
}

div.olControlScaleLineTop, div.olControlScaleLineBottom {
    border-color: #253745;
    color: #253745;
    font-weight: bold;
}

.olControlZoomPanel {
    left: 8px! important;
    top: 8px! important;
}

.olControlZoomPanel div.olControlZoomInItemInactive {
    background: url("../images/openlayers/zoom-plus-mini.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.olControlZoomPanel div.olControlZoomOutItemInactive {
    background: url("../images/openlayers/zoom-minus-mini.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    top: 20px! important;
}

.olControlZoomPanel div.olControlZoomToMaxExtentItemInactive {
    width: 0;
}

div.olControlZoomInItemInactive,
div.olControlZoomOutItemInactive {
    display: block;
    height: 22px;
    margin: 2px;
    padding: 0 4px;
    width: 15px;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover, .ygtvfocus {
    background-color: transparent;
}

a.ygtvlabel:hover {
    text-decoration: underline;
}

/*
JQUERY AUTO COMPLETE
*/

.ac_results {
    padding: 0;
    border: 1px solid #999;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.smallIndentInputBox {
    padding-left: 0 ! important;
}

.clear {
    clear: both;
    height: 1px;
}

.wrapping-wrapped-field {
    white-space: normal;
}

div.allwhite {
    color: white;
    border-color: white;
}

/* Faceted search styles */
.hierarchicalTree .x-tree-node-el:not(.x-tree-node-leaf) .x-tree-node-icon {
    display: none !important;
}

.hierarchicalTree .x-tree-root-node {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hierarchicalTree .x-tree-node .x-tree-selected {
    background: none;
}

.hierarchicalTree .x-tree-node-leaf {
    margin-left: -20px;
}

.hierarchicalTree input.x-tree-node-cb {
    height: inherit;
}

.filter-selection-panel .x-panel-header {
    border-radius: 4px 4px 0 4px;
    background-color: #e8e8e8;
}

.search-filter-panel .x-panel-header,
.filter-selection-panel .x-panel-header,
.dataCollectionDetailsAccordion .x-panel-header {
    margin: 5px 5px 0 0;
    padding: 10px;
}

.free-text-search {
    margin: 0px;
}
.free-text-search input {
    height: 28px;
 }

.free-text-search input.focused   {
    font-size: 1.1em;
    border: 2px solid #8d969b;
}

.filterGroupPanel h4 {
    padding: 7px 0;
}

.filter-selection-panel-header {
    padding-left: 3px;
}

.search-filter-panel .filter-selection-panel-header-selected {
    color: #666;
    font-weight: bold;
    font-style: italic;
}

.facetedSearchResultBody {
    overflow: auto;
}

.facetedSearchResultBody .minimap,
.facetedSearchResultBody .resultsTextBody{
    float: left;
}

.resultsIconContainer {
    margin-top: 16px;
    text-align: center;
}

.geoSelectionPanelButtons {
    position: relative;
    top: -35px;
    right: -210px
}

.resultsTextBody {
    margin: 5px;
    width: 540px;
}

.resultsTextBody h5 {
    margin: 5px;
}

.downloadPanelResultsWrapper {
    margin-bottom: 15px;
}

.resultsRowBackground {
    background-color: #eeeeee;
    border-left: 1px solid #CCCCCC;
    margin-top: 4px;
    padding: 3px 10px;
}

.resultsHeaderBackground {
    padding: 0;
    margin-bottom: 5px;
}

.resultsHeaderBackground .facetedSearchResultBody {
    height: 100px;
    overflow-y: hidden;
}

.expandable .facetedSearchResultBody::after {
    bottom: 5px;
    box-shadow: 10px 10px 15px 5px rgba(240, 240, 240, 1);
    content: " ";
    position: absolute;
    right: 125px;
    width: 100%;
}

.resultsHeaderBackground .x-panel-header {
    padding: 0 5px;
}

.facetedSearchBtn {
    float: left;
    margin-right: 5px;
}

.x-tab-strip-top .x-tab-right,
.x-tab-strip-top .x-tab-left,
.x-tab-strip-top .x-tab-strip-inner,
.resultsRowHeaderTitle,
.dataCollectionDetailsAccordion .x-panel-header,
.filter-selection-panel .x-panel-header {
    background-color: #EBEBEB;
}

.expandable .resultsRowHeaderTitle:hover,
.dataCollectionDetailsAccordion .x-panel-header:hover,
.filter-selection-panel .x-panel-header:hover,
.x-btn-over:not(.navigationButton),
.x-btn-over:not(.navigationButton) *,
ul.x-tab-strip-top li:hover * {
    background-color: #DCDCDC;
}

.x-tab-strip-active span.x-tab-strip-text {
    color: #4d5b63;
}

.resultsRowHeaderTitle,
.dataCollectionDetailsAccordion .x-panel-header {
    border-radius: 3px;
}

.dataCollectionDetailsAccordion .x-panel-header {
    padding: 5px 8px;
}

.dataCollectionDetailsPanel:not(.x-panel-collapsed) .x-panel-header {
    cursor: default !important;
    background-color: #DCDCDC;
}

.dataCollectionDetailsAccordion .x-panel-collapsed * {
    font-weight: normal;
}

.x-tool-awesome {
    margin-top: 3px;
    float: right;
    height: 15px;
    margin-left: 2px;
    overflow: hidden;
    width: 15px;
}

.x-tool-awesome,
.x-tool-awesome * {
    cursor: pointer;
}

.x-tool-awesome:hover,
.x-tool-awesome *:hover {
    color: black;
}

.downloadPanelResultsTitle {
    padding: 10px 0;
}

.resultsRowHeaderTitle {
    float: left;
    margin: 1px 10px 0 0;
    padding: 5px 10px 5px 9px;
    width: 700px;
    z-index: 1;
}

.expandable * {
    cursor: pointer;
}

.downloadPanelResultsWrapper.dataFilterEntry {
    width: 70%;
}

.navigationButton div {
    vertical-align: middle;
}

.navigationButton * :hover {
    color: black;
}

.layer-loaded-button {
    visibility: hidden;
    width: 0! important;
}

.overflow-y {
    overflow-y: auto;
}

.activeLayerTreePanel {
    border-width: 1px;
    border-radius: 3px;
    border-color: #666;
}

.activeLayerTreePanel:not(:hover) li.x-tree-node
div:not(.x-tree-selected) * {
    filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' height=\'0\'><filter id=\'greyscale\'><feColorMatrix type=\'saturate\' values=\'0\' /></filter></svg>#greyscale");
    opacity: 0.6;
}

.activeLayerTreePanel li.x-tree-node div.x-tree-selected * {
    font-weight: bold;
}

.activeLayerTreePanel img.x-tree-node-icon,
.activeLayerTreePanel img[class*="x-tree-elbow"] {
    width: 0;
    margin-left: 1px;
}

.activeLayerTreePanel input.x-tree-node-cb {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.gx-popup .x-tab-panel-body {
    border: none;
}

/* Bug #9 - show blank tiles on image load error. */
.olImageLoadError {
    display: none;
}

#toplinks .highlight {
    color: #222222;
    text-shadow: none;
}

.highlight:hover {
    background-color: #ffff99;
}

.search-filters-toolbar-title * {
    font-size: 13px! important;
}

/* Form Items CSS */

.x-form-item {
    display:block;
    margin-bottom:4px;
    margin-left:2px;
    zoom:1;
}

#downLoadCartWidget {
    background-color: grey;
    cursor: pointer;
    color: white;
    float: right;
    padding: 4px 8px 6px;
    position: absolute;
    right: 25px;
    top: 150px;
}

#downLoadCartWidget span {
    display: inline-flex;
    margin: 0 2px;
    vertical-align: bottom;
}

#downloadCartSize {
    font-weight: bold;
}

#downLoadCartWidget a {
    font-size: 11px;
    margin: 0 3px;
    text-decoration: none;
    font-weight: bold;
}

#downLoadCartWidget a:hover {
    text-decoration: underline;
}

.resetText {
    position: relative;
    display: block;
}
.x-menu-list-item {
    font: inherit;
}

.bboxExtentPicker .x-box-layout-ct {
    margin: 4px;
}

.bboxExtentPicker .x-box-layout-ct label {
    font-weight: bold;
}

.legendImage {
    margin: 10px 0;
}

.legendImage img {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.x-tree-node-el {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.drilldown-separator {
    margin: 10px 0 5px 0;
    height: 1px;
    background: #ccc;
    line-height: 1px;
}

div.hierarchicalTree:first-child div.drilldown-separator {
    height: 0;
    margin: 0;
}

div.tool-plus-disabled {
    opacity: 0.5;
    background-position:0 -240px;
}

/* font Awesome icons */
.fa {
    opacity: 0.8;
    font-family: FontAwesome! important;
}

.fa-lg.fa-angle-right,
.fa-lg.fa-angle-left {
    vertical-align: -5%;
}

#visualisePanel div:not(.detailsPanelAccordion) h4 {
    margin-bottom: 5px;
}

/* Turn off GPU support to fix line issue when browser is zoomed in */
/* Refer: https://github.com/openlayers/openlayers/issues/513 */

img.olTileImage {
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    -webkit-backface-visibility: inherit;
    -moz-backface-visibility: inherit;
    -ms-backface-visibility: inherit;
    backface-visibility: inherit;
    -webkit-perspective: inherit;
    -moz-perspective: inherit;
    -ms-perspective: inherit;
    perspective: inherit;
}

span.menu-title {
    font-weight: bold;
}

.infoPanel h3,
.infoPanel h4 {
    margin: 10px 0 5px 0;
}

.checkboxLabel ~ label {
    font-size: 12px;
    font-weight: bold;
}

input[type=text] {
    cursor: default;
}

input[type=checkbox] {
    cursor: pointer;
}

input:read-only { background: #eee; }

.x-trigger-noedit {
    cursor: default;
}

.spatialSubsetControl {
    padding: 15px 5px 15px 10px;
}

.x-item-disabled {
    cursor: inherit;
}

.x-item-disabled * {
    color: inherit !important;
}

.mapTimeControls .x-item-disabled {
    pointer-events: none; /* prevents :hover styling on child elements (tooltips) */
}

