/*
 * Copyright 2012 IMOS
 *
 * The AODN/IMOS Portal is distributed under the terms of the GNU General Public License
 *
 */
/*
IMOS colours


*/

body, html {
    color: #030303;
}

#header {
    width: 100%;
    background-color: #5A97b1;
}

#headerTitle {
    color: white;
    text-shadow: 1px 2px 9px #1B7399;
    padding: 30px 20px 0 20px;
    margin-left: 250px;
}

.mainlinks {
    color: white;
    border-left: 1px solid #99CCFF;
    font-size: 13px;
    font-weight: bold;
}

h1 {
    color: #1b7399;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    color: #1b7399;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    color: #1b7399;
    font-size: 14px;
    font-weight: normal;
}

h4 {
    color: #1b7399;
    font-size: 12px;
}

h5 {
    color: #1b7399;
    font-size: 11px;
}

h6 {
    color: #6A6A6A;
    display: inline;
    font-size: 11px;
    margin: 2px 0;
}

.footer {
    font-size: 11px;
}

.footer .x-box-inner {
    overflow: visible;
}

.x-form-item-label, .x-tab-strip span.x-tab-strip-text {
    color: #1b7399;
}

.x-toolbar {
    border: none;
    background-color: #fAFAFA;
}

.x-panel-header,
.x-window-header-text,
#rightHomePanel h3 {
    font-size: 14px;
    font-weight: normal;
    color: #1b7399;
}

#toplinks {
    color: white;
}

#toplinks a {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 0 3px;
    text-decoration: none;
}

#toplinks a:hover {
    color: black;
}

#loginPopup a {
    color: #1b7399;
}

a.userlink {
    font-size: inherit ! important;
    text-decoration: underline ! important;
    margin-right: 15px ! important;
}

ul.x-tab-strip li {
    background-color: #EFEFEF;
    padding: 2px 1px;
    border-radius: 3px;
}

.olControlLayerSwitcher .layersDiv, .olControlLayerSwitcher > div > span {
    background-color: #4D7282 !important;
}

.olControlOverviewMapElement {
    background-color: #4D7282 ! important;
    border-radius: 6px 0 0 0;
    opacity: 0.85;
    -ms-filter: "alpha(opacity=85)"; /* IE8 */
    filter: alpha(opacity=85); /* IE6/IE7 */
}

.semiTransparent {
    background-color: #4D7282 !important;
}

.x-tab-strip span.x-tab-strip-text, .x-btn-text {
    color: #666;
}

ul.x-tab-strip-top {
    border: none;
}

.x-btn {
    padding: 0px 6px;
}

.x-btn,
.faceted-search-clear-all div.x-hyperlink {
    background-color: #E6E9EB;
    border-radius: 3px;
    margin-right: 3px;
}

.animationSubPanel .x-btn {
    background-color: inherit;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background: none;
}

