/*
 * Copyright 2012 IMOS
 *
 * The AODN/IMOS Portal is distributed under the terms of the GNU General Public License
 *
 */

/*
IMOS Logo colours

Pantone 5405 C   63 96  117     #3F6075
Pantone 2915 C   96 175 221     #60AFDD

#52BDEC

Mono split complement colours of #60AFDD
#89C8EE
#A4D2EE
#1F6690
#5F8Ca6
Complemetary
#FFBA66 orangeish
#FFD29F mango
#BF915D
*/

@font-face {
    font-family: imosheader;
    src: url('../fonts/TerminalEvent.eot'); /* IE9 Compat Modes */
    src: url('../fonts/TerminalEvent.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/TerminalEvent.woff') format('woff'), /* Modern Browsers */ url('../fonts/TerminalEvent.ttf') format('truetype'); /* Safari, Android, iOS */
}

html {
    background-color: white;
    margin-top: 0 ! important;
}

body, html, td {
    color: #4D5B63;
}

h2 {
    margin-bottom: 14px;
}

h3 {
    white-space: pre-wrap;
}

#landingBigButton {
    background: #ffba66; /* Old browsers */
    background: -moz-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, #ffba66), color-stop(100%, #ffd29f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffba66 95%, #ffd29f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffba66 95%, #ffd29f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffba66', endColorstr='#ffd29f', GradientType=0); /* IE6-9 */
    border: 1px solid #bf915d;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #d3d3d3;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 34px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    vertical-align: middle;
    white-space: nowrap;
}

.landingBling {
    margin: 15px 0 25px 0;
}

#logoContainer {
    margin-top: 10px;
    margin-left: 35px;
}

.logoSpacer {
    margin: 0;
}

.buildInfo {
    color: #999999;
    font-size: 10px;
    margin-top: 20px;
}

.landingSubLeft {
    float: left;
    width: 36%;
}

.landingSubRight {
    float: right;
    width: 64%;
}

.x-panel-header {
    font-family: arial, verdana, sans-serif;
}

.x-btn, .x-btn button {
    font: 11px arial, verdana, sans-serif;
}

h1, h2, h3, h4,
.x-panel-header,
.x-window-header-text,
#rightHomePanel h3,
.search-filter-panel .term-selection-panel-header-selected {
    color: #5D676D;
}

#header {
    z-index: 300;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    background: #3b3e41; /* Old browsers */
    background: -moz-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b3e41), color-stop(23%, #565a5e), color-stop(49%, #5a5e62), color-stop(100%, #3b3e41), color-stop(100%, #0f0f0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* IE10+ */
    background: linear-gradient(to right, #3b3e41 0%, #565a5e 23%, #5a5e62 49%, #3b3e41 100%, #0f0f0f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3e41', endColorstr='#0f0f0f', GradientType=1); /* IE6-9 */
}

#logo {
    margin: 10px 15px 0 35px;
}

#headerTitle {
    font-family: 'imosheader';
    color: #FFFFFF;
    text-shadow: 1px 1px 8px #333;
    font-size: 46px;
    padding: 45px 0 6px 20px;
}

#toplinks {
    color: #a4d2ee;
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

#toplinks a {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}

#toplinks a:hover {
    color: grey;
    text-shadow: none;
}

.mainlinks {
    border-left: 1px solid #9DAAB1;
}

.viewPortTab * {
    color: #BF915D;
}

#viewPortLinks {
    border: none;
    background-color: #484848;
    background-image: none;
    background: #484848; /* Old browsers */
    background: -moz-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #484848), color-stop(51%, #484848), color-stop(100%, #3a3a3a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #484848 0%, #484848 51%, #3a3a3a 100%); /* IE10+ */
    background: linear-gradient(to right, #484848 0%, #484848 51%, #3a3a3a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#484848', endColorstr='#3a3a3a', GradientType=1); /* IE6-9 */
}

p {
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 25px;
}

input, select, textarea {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    margin-right: 5px;
    padding: 2px 4px;
    border-radius: 3px 3px 3px 3px;
    /*box-shadow: 2px 2px 3px 0 #EEEEEE;*/
}

#mapActionsWindow.x-window {
    background-color: #fafafa;
}

#mainHomePanel h1 {
    margin: 10px 0 20px 0;
}

#rightHomePanel {
    background-color: white;
}

.mainToolBar {
    box-shadow: 0 -15px 15px -15px #ccc;
}

.mainToolBarFooter {
    margin-right: 20px;
    font-size: 12px ! important;
}

.footer p {
    font-size: 10px;
}

.footerText p {
    margin-bottom: 15px !important;
}

.footerText p:first-child {
    margin-left: 210px;
}

.footer .x-box-inner {
    overflow: visible;
}

.footer a:hover {
    text-decoration: underline;
}

#loginPopup a {
    color: #1b7399;
}

.x-toolbar {
    padding-top: 10px;
    border: none;
    background: none;
}

.x-tab-strip span.x-tab-strip-text, .x-btn-text {
    color: #666;
}

ul.x-tab-strip-top {
    border: none;
}

.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner {
    background-color: #D7D7D7;
}

.x-tab-strip-active span.x-tab-strip-text {
    color: black;
}

.x-tab-strip-active .x-tab-right, .x-tab-strip-active .x-tab-left, .x-tab-strip-active .x-tab-strip-inner {
    background-color: #C6C6C6;
}

.clear {
    height: 10px;
}

.x-btn {
    padding: 0 6px;
}

.x-btn{
    background-color: #D9D9D9;
    border-radius: 6px;
    margin-right: 3px;
}

#downLoadCartWidget {
    background-color: #FFBA66;
    color: #212121;
    border-radius: 8px;
    right: 30px;
    top: 65px;
}

.navigationButton.x-btn {
    background-color: #FFBA66;
}

.navigationButton .x-btn-text {
    color: #212121;
    font-weight: bold;
}

.x-btn-selected {
    background: #BBB8B5 ! important;
}

#viewPortLinks {
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
}

.viewPortTab {
    background: url(../images/viewPortTabUnselected.png) right 0 center no-repeat;
}

.viewPortTabActive *,
.viewPortTabActiveLast * {
    color: #212121 ! important;
}

.viewPortTabActive {
    background-color: #FFBA66; /* IE8 */
    background: url(../images/IMOS/viewPortTabActive.png) right 0 center no-repeat #FFBA66;
    border: none;
}

.viewPortTabActiveLast {
    background: url(../images/IMOS/viewPortTabActiveLast.png) right 0 center no-repeat;
}

.animationSubPanel .x-btn, .animationSubPanel.x-btn {
    background-color: inherit;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background: none;
}

.steps .stepTitle {
    color: black;
    font-weight: bold;
}

.steps .x-panel-header-text {
    font-size: 20px;
}

.collectionTitle {
    color: #B4B4B4
}

#mapActions {
    background: none repeat scroll 0 0 rgba(62, 93, 118, 0.22);
}

.treeResetContainer label {
    color: #333333;
}

.hightlightInputbox {
    border-color: #AEAEAE;
}
