
/*
 * Copyright 2012 IMOS
 *
 * The AODN/IMOS Portal is distributed under the terms of the GNU General Public License
 *
 */

 html{
    font-size: 12px;
	line-height: 16px;
	background-color: #435F7A;
	background: -webkit-gradient(linear, left top, left bottom, from(#435F7A), to(#FFFFFF));
	background-image: -moz-linear-gradient(center top , #435F7A 0pt, white 700px);
	background-image: -o-linear-gradient(center top , #435F7A 0pt, white 700px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#435F7A', endColorstr='#FFFFFF');
	color: #030303;
    margin-top: 0px! important;

}

body {
	height: 100%
}

#header {
    /*background: url(../images/portal2header.jpg) no-repeat 0 0  #0165A1;*/
    height: 300px;
    width: 100%;

}
.mainlinks {
    color: white;
    border-left: 1px solid #333;
}
html, body, p, td{
    font-family: tahoma,verdana,arial,sans-serif;
}


h1,h2,h3 {
	font-family: tahoma,arial,verdana,sans-serif;
	color: #666;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    color: #6A6A6A;
    font-size: 12px;
    margin: 2px 0px;
}

h5 {
    color: #6A6A6A;
    font-size: 11px;
    margin: 2px 0 ;
}

h6 {
    color: #6A6A6A;
    display: inline;
    font-size: 11px;
    margin: 2px 0 ;
}

input, select, textarea {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    font: 11px verdana,arial,helvetica,sans-serif;
    margin: 2px 0;
    margin-right: 5px;
    padding: 2px 4px;
    border-radius: 3px 3px 3px 3px;
    /*box-shadow: 2px 2px 3px 0 #EEEEEE;*/

}


#mainHomePanel, #downloadCartPanel{
   background-color: white;
   font-size: 12px;
   border-radius: 12px;
   /*padding: 20px;*/
   /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.2) inset;*/
}

#mainHomePanel h1 {
	margin: 3px 0px;

}

#rightHomePanel {
	background-color: white;
   border-radius: 12px;
}

#headerTail {
    height: 30px;

}

#logo {
    margin: 3px 5px;
    float: left;
}

.footer {
    color: #333;
    font-size: 10px;
	margin-top: 20px;
}

.footerText p {
    margin-bottom: 15px !important;
}

.footerText p:first-child {
    margin-left: 210px;
}

.footer .x-box-inner {
    overflow: visible;
}

.footer a:hover{
    text-decoration: underline;
}

.menuHeader {
    font-size: 14px;
    color: #666;
    padding: 15px 1px 10px 10px;
}

.x-panel-header,
#rightHomePanel h3{
    color: #666;
    font-size: 14px;
	font-weight: normal;
}
.x-panel-header {
    background-image: none;
	background-color: white;
    border: none;
    padding: 20px 3px 4px 10px;

}
.x-window-header-text {
    color: #666;
}

#mainMapCentrePanel, .map {
}
#rightDetailsPanel {
	border-radius: 12px 12px 0 0;
}

#headerTitle {
    color: #FFF;
    padding: 58px 15px 0px 20px;
    font-size: 24px;
    float: left;
    text-shadow: 1px 2px 5px  #666;
}

#toplinks {
    color: #FFF;
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

#toplinks a {
    color: #FFF;
    text-shadow: 1px 2px 5px #666;
    font-size: 13px;
    font-weight: bold;
    margin: 0 3px;
    text-decoration: none;
}

#toplinks a:hover {
    color: black;
    text-shadow: none;
}

a.userlink {
    font-size: inherit! important;
    text-decoration: underline! important;
    margin-right: 15px! important;
}

.community {
    padding: 10px 0;
}
#viewPortLinks  {
   position: relative;
   top: 52px;
}

.viewPortLinks a {
    color: white;
    text-shadow: 2px 2px 6px grey;
    padding: 8px 14px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    outline: 0;
}

.viewPortLinks a:hover {
    color: black;
    text-shadow: 0px 0px 8px grey;
}
.viewPortLinksBackground {
    float: left;
    padding: 6px 10px;
    margin-right: 5px;
    background: url("../images/mapshadow.png") repeat-x scroll left top grey;
    border-radius: 14px;
}
.viewPortTabActive {
    background: none repeat-x scroll left top #0079C1;
}

.viewPortTabActive a {
    color: white! important;
    text-shadow: none! important;
}

#downloadCartStatus {
    background: url("../images/mapshadow.png") repeat-x scroll left top #0079C2;
    border-radius: 10px 3px 10px 3px;
    color: white;
    float: right;
    padding: 4px 10px 6px;
    position: absolute;
    right: 25px;
    top: 45px;
}

#downloadCartStatus div {
    padding-top: 3px;
}

#downloadCartStatus a {
    color: white;
    font-size: 11px;
    margin: 0 3px;
    text-decoration: none;
    font-weight: bold;
}

#downloadCartStatus a:hover {
    text-decoration: underline;
}

#downloadCartStatus {
    text-align: right;
}

.x-tab-strip span.x-tab-strip-text {
    color: #666;
}
