/*
 * Copyright 2012 IMOS
 *
 * The AODN/IMOS Portal is distributed under the terms of the GNU General Public License
 *
 */

 html{
    font-size: 12px;
	line-height: 16px;
	background-color: #435F7A;
	background: -webkit-gradient(linear, left top, left bottom, from(#435F7A), to(#FFFFFF));
	background-image: -moz-linear-gradient(center top , #435F7A 0pt, white 700px);
	background-image: -o-linear-gradient(center top , #435F7A 0pt, white 700px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#435F7A', endColorstr='#FFFFFF');
	color: #030303;
    margin-top: 0 ! important;

}

body {
	height: 100%
}

#header {
    width: 100%;
}
.mainlinks {
    color: white;
    border-left: 1px solid #333;
}
html, body, p, td{
    font-family: tahoma,verdana,arial,sans-serif;
}
p {
	margin-bottom: 40px;
}

h1,h2,h3 {
	font-family: tahoma,arial,verdana,sans-serif;
	color: #666;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    color: #6A6A6A;
    font-size: 12px;
    margin: 2px 0 ;
}

h5 {
    color: #6A6A6A;
    font-size: 11px;
    margin: 2px 0 ;
}

h6 {
    color: #6A6A6A;
    display: inline;
    font-size: 11px;
    margin: 2px 0 ;
}

input, select, textarea {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    font: 11px verdana,arial,helvetica,sans-serif;
    margin: 2px 0;
    margin-right: 5px;
    padding: 2px 4px;
    border-radius: 3px 3px 3px 3px;
    /*box-shadow: 2px 2px 3px 0 #EEEEEE;*/

}


#mainHomePanel, #downloadPanel{
   background-color: white;
   font-size: 12px;
   border-radius: 12px;
   /*padding: 20px;*/
   /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.2) inset;*/
}

#mainHomePanel h1 {
	margin: 40px 0 30px 0 ;

}

#rightHomePanel {
	background-color: white;
   border-radius: 12px;
}



#logo {
    margin: 3px 5px;
    float: left;
}

.footer {
    color: #333;
    font-size: 10px;
	margin-top: 20px;
}

.footerText p {
    margin-bottom: 15px !important;
}

.footerText p:first-child {
    margin-left: 210px;
}

.footer .x-box-inner {
    overflow: visible;
}

.footer a:hover{
    text-decoration: underline;
}

.x-panel-header,
#rightHomePanel h3{
    color: #666;
    font-size: 14px;
	font-weight: normal;
}
.x-panel-header {
    background-image: none;
	background-color: white;
    border: none;
    padding: 20px 3px 4px 10px;

}
.x-window-header-text {
    color: #666;
}

#mainMapCentrePanel, .map {
}
#rightDetailsPanel {
	border-radius: 12px 12px 0 0;
}

#headerTitle {
    color: #FFF;
    padding: 58px 15px 0  20px;
    font-size: 24px;
    float: left;
    text-shadow: 1px 2px 5px  #666;
}

#toplinks {
    color: #FFF;
}

#toplinks a {
    color: #FFF;
    text-shadow: 1px 2px 5px #666;
    font-size: 13px;
    font-weight: bold;
    margin: 0 3px;
    text-decoration: none;
}

#toplinks a:hover {
    color: black;
    text-shadow: none;
}

a.userlink {
    font-size: inherit! important;
    text-decoration: underline! important;
    margin-right: 15px! important;
}

.x-tab-strip span.x-tab-strip-text {
    color: #666;
}
