.x-hyperlink {
	display: inline-block;
  cursor: pointer; 
  margin-top: 6;
}

.x-hyperlink-anchor {
	color: #333; 
	font:normal 11px Verdana, sans-serif; 
	padding: 2px 0px 2px 18px; 
}

.x-hyperlink-anchor:hover { 
	text-decoration: underline; 
	color: #15428B; 
}
