#content {
  position: relative;
  background-color: #ffffff;
  /*margin-bottom: 575px;*/
  height: 1076px;
  
}

#content #feature {
  height: 500px;
  /*background: url("../images/content/featurebackground.png") repeat-x scroll 0 0 transparent;*/
  text-align: center;
  overflow: hidden;
}

#feature .arrow {
  width: 32px;	
  height: 64px;
  cursor: pointer;
}

#feature #arrowBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin-left:auto;
  margin-right:auto;
  width: 1045px;	
  height: 64px;	
}

#feature #leftArrow {
  background: url("../images/content/leftarrow.png") no-repeat scroll 0 0 transparent;
}

#feature #rightArrow {
  background: url("../images/content/rightarrow.png") no-repeat scroll 0 0 transparent;
}

#feature #slideshow #slidesContainer .featureContent {
  padding-top: 57px;
  height: 493px;	
}

#feature #slideshow #slidesContainer .featureContent h1 {
  color: #00AEEF;
  font-size: 1.5em;
  font-weight: normal;
  height: 23px;  
}

#feature #slideshow {
  text-align: left;
}

#feature #slideshow #slidesContainer .featureContent p {
  font-size: 0.87em;
  width: 450px;
  height: 75px;
  margin-top: 28px;
}

#slidesContainer a {
  width: 113px;
  height: 27px;
  display: block;
  background: url("../images/content/discoverymorebuttom.png") no-repeat scroll 0 0 transparent;
}

/* #slidesContainer a:link { color: #000000; text-decoration:none; }
#slidesContainer a:visited { color: #000000; text-decoration:none; }
#slidesContainer a:hover { color: #000000; text-decoration:none; }
#slidesContainer a:active { color: #000000; text-decoration:none; } */

#content #feature #featureShadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  width: 1408px;
  margin-left:auto;
  margin-right:auto;
  background: url("../images/content/featureshadow.png") repeat-x scroll 0 0 transparent;
}

#content #mainContent {
  position:absolute;
  left:0;
  right:0;
  top: 328px;
  margin-left:auto;
  margin-right:auto;  
  width: 968px;
  height: 742px;
}

#content #mainContent #topShadow {
  width: 960px;
  height: 4px;
  margin: 0 auto;
  background: url("../images/content/contentshadowtop.png") repeat-x scroll 0 0 transparent;	
}

#content #mainContent #leftShadow {
  background: url("../images/content/contentshadowleft.png") repeat-y scroll 0 0 transparent;		
}

#content #mainContent #rightShadow {
  background: url("../images/content/contentshadowright.png") repeat-y scroll right top transparent;	
}

#content #mainContent #bottomShadow {
  width: 960px;
  height: 4px;
  margin: 0 auto;
  background: url("../images/content/contentshadowbottom.png") repeat-x scroll 0 0 transparent;	
}

#content #mainContent #leftTopShadow {
  background: url("../images/content/contentshadowlefttop.png") no-repeat scroll left top transparent;	
}

#content #mainContent #leftBottomShadow {
  background: url("../images/content/contentshadowleftbottom.png") no-repeat scroll left bottom transparent;	
}

#content #mainContent #rightTopShadow {
  background: url("../images/content/contentshadowrighttop.png") no-repeat scroll right top transparent;		
}

#content #mainContent #rightBottomShadow {
  background: url("../images/content/contentshadowrightbottom.png") no-repeat scroll right bottom transparent;	
}

#content #contentBox {
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  height: 742px;
}

#content #contentBox #contentSectionBox {
  margin: 40px 15px 40px 15px;
  width: 930px;
  height: 633px;
}

#contentSectionBox #sectionRow1 {
  width: 930px;
  height: 318px;
  background: url("../images/header/hr.png") repeat-x scroll left bottom transparent;
}

#contentSectionBox #sectionRow2 {
  width: 930px;
  height: 318px;
  margin-top: 40px;
}

#contentSectionBox .section {
  width: 300px;
  height: 318px;	
}

#contentSectionBox .sectionImage {
  width: 300px;
  height: 136px;	
}

#contentSectionBox .sectionTextBox {
  margin-top: 14px;
  width: 300px;
  height: 167px;	
}

.sectionTextBox .latestnews {
  list-style: none;
}

#contentSectionBox .sectionTitle {
  width: 300px;
  height: 25px;
  color: #00aeef;
  font-weight: normal;
  font-size: 1.38em; 
}

#contentSectionBox .sectionText {
  width: 300px;
  height: 69px;
  margin-top: 16px;
  font-weight: normal;
  font-size: 0.75em;
}

#contentSectionBox .sectionButtonBox {
  margin-top: 15px;
  width: 300px;
  height: 27px;
}

.leftMargin15 {
  margin-left: 15px;	
}

.rightMargin15 {
  margin-right: 15px;	
}

.otherNews {
  width: 100px; 
  height: 27px;
  margin-left: 8px;
  background: url("../images/content/othernews.png") no-repeat scroll 0 0 transparent;	
}

.otherNews a {
  width: 100px; 
  height: 27px;
  display: block;
}

#contentSectionBox #readMore {
  width: 94px; 
  height: 27px;
  background: url("../images/content/readmore.png") no-repeat scroll 0 0 transparent;	
}

#contentSectionBox #readMore a {
  display: block;
  width: 94px; 
  height: 27px;
}

#contentSectionBox #searchButtom {
  width: 74px;
  height: 27px;
  background: url("../images/content/searchbuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #searchButtom a {
  width: 74px;
  height: 27px;
  display:block;
}

#contentSectionBox #joinButtom {
  width: 58px;
  height: 27px;
  margin-left: 8px;
  background: url("../images/content/joinbuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #joinButtom a {
  display:block;
  width: 58px;
  height: 27px;
}

#contentSectionBox #registerButtom {
  width: 82px;
  height: 27px;
  margin-left: 8px;
  background: url("../images/content/registerbuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #foundOutHowButtom { 
  width: 108px;
  height: 27px;
  background: url("../images/content/findouthowbuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #foundOutHowButtom { 
  width: 108px;
  height: 27px;
  background: url("../images/content/findouthowbuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #foundOutHowButtom a {
  display:block;
  width: 108px;
  height: 27px;
}

#contentSectionBox .discoverMoreButtom {	
  width: 113px;
  height: 27px;
  background: url("../images/content/discoverymorebuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox .discoverMoreButtom a {
  display: block;
  width: 113px;
  height: 27px;	
}

#contentSectionBox #viewMapButtom {	
  width: 88px;
  height: 27px;
  margin-left: 8px;
  background: url("../images/content/viewmap.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #scienceStrategyButtom {	
  width: 129px;
  height: 27px;
  margin-left: 8px;
  background: url("../images/content/sciencestrategybuttom.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #scienceStrategyButtom a {	
  display: block;
  width: 129px;
  height: 27px;
}

#contentSectionBox #moreEventButtom {	
  width: 82px;
  height: 27px;
  margin-left: 8px;
  background: url("../images/content/calendar.png") no-repeat scroll 0 0 transparent;
}

#contentSectionBox #moreEventButtom a {
  width: 82px;
  height: 27px;
  display: block;	
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

#contentSectionBox .sectionButton {
  width: 94px;
  height: 27px;
}

#content #contentBox #contentBody {
  background-color: #ffffff;  	
}

#content #contentBox #featureRadioBarWrapper {
  height: 30px;
  background-color: #F1F3F4;
  text-align: center;	
}

#content #contentBox #featureRadioBar {
  /* background: url("../images/feature/featureradiobar.png") repeat-x scroll 0 0 transparent; */
  margin: 0 auto;
}

#featureRadioBar div {
  float: left;
  width: 32px;
  height: 30px;
}

input.styled {
  display: none;
}

.radio {
  background: url("../images/content/radio.png") no-repeat scroll -22px 0px transparent;
}

#base {
  height: 155px;
  background: url("../images/base/baseline.png") repeat-x scroll 0 0 #000000;
}

#base #baseContent {
  margin: 0 auto;
  width: 960px;
  height: 68px;
  padding-top: 30px; 	
  color: #939598;
  font-size: 0.75em;    
}

#baseContent div {
  float: left;
}

#base #baseContent #copyright {
  width: 176px;
  height: 40px;
  margin-left: 30px;
  color: #ffffff;
  margin-top: 25px;
}

#base #baseContent #note {
  width: 286px;
  height: 40px;
  margin-left: 141px;
  color: #ffffff;
  margin-top: 25px;
}

#base #baseContent #baseLogo {
  width: 98px;
  height: 31px;
  background: url("../images/base/baselogo.png") no-repeat scroll 0 0 transparent;
  margin-top:25px;
}

#base #baseContent #imasLogo {
  width: 90px;
  height: 87px;
  margin-left: 16px;
  margin-top: 7px;
  background: url("../images/base/imaslogo2.png") no-repeat scroll 0 0 transparent;
}

#base #baseContent #imasLogo a {
  display: block;
  width: 90px;
  height: 87px;
}

#base #baseContent #utasLogo {
  width: 90px;
  height: 103px;
  margin-left: 13px;
  background: url("../images/base/utaslogo2.png") no-repeat scroll 0 0 transparent;	
}

#base #baseContent #utasLogo a {
  display: block;
  width: 90px;
  height: 103px;
}

.clean {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

#footer {
  /*margin-top: 575px;*/
  height: 295px;
  background-color: #f1f3f4;
  position: relative;
}

#footer #footerShadow {
  width: 1108px;
  margin: 0 auto;
  background: url("../images/footer/footershadow.png") no-repeat scroll 0 0 transparent;
  position: relative;
}

#footer #scrollToTop {
  position: absolute;
  top: 270px;
  right: -50px;
  float: left;
  width: 109px;
  height: 25px;
  background: url("../images/footer/scrolltotop.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
} 

#footer #scrollToTop a {
  display: block;
  width: 109px;
  height: 25px;	
}

#footer #footerShadow #footerContent {
  width: 960px;
  margin: 0 auto;
}

#footer #footerShadow #footerContent #contact {
  width: 300px;
  float: left;
  height: 295px;
  color: #939598;
  font-weight: normal;
  padding-left: 15px;
}

#footer #footerShadow #footerContent #sponsor {
  width: 297px;
  height: 295px;
  float: left;
  background: url("../images/footer/footerseperator.png") no-repeat scroll 0 0 transparent;
  color: #939598;
  font-weight: normal;
  padding-left: 33px;
}

#sponsor #sponsorTitle {
  font-size: 1.38em;
  margin-top: 30px;
}

#sponsor div {
  margin-top: 15px;
}

#sponsor img {
  border: 0;
  margin-top: 10px;
}

#footer #footerShadow #footerContent #loginBox {
  width: 315px;
  background: url("../images/footer/footerseperator.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 295px;
  color: #939598;
  font-weight: normal;
}

#loginBox #loginTitle {
  font-size: 1.38em;
  margin-top: 30px;
  margin-left: 45px;	
}

#loginBox #rememberMeBox {
  width: 202px;
  height: 18px;
  margin-left: 108px;
  margin-top: 13px;
}

#loginBox #rememberMeBox #rememberMeIcon {
  width: 18px;
  height: 18px;
  float:left;
  cursor:pointer;
}

#loginBox #rememberMeBox .clicked {
  background: url("../images/footer/remembermeiconclicked.png") no-repeat scroll 0 0 transparent;
}

#loginBox #rememberMeBox .unClicked { 
  background: url("../images/footer/remembermeicon.png") no-repeat scroll 0 0 transparent;
}

#loginBox #rememberMeBox #rememberMeText {
  width: 161px;
  height: 11px;
  margin-left: 4px;
  font-size: 0.75em;
  color: #939598;
  font-weight: normal;
  float:left;
}

#loginBox #loginButtonBox {
  width: 71px;
  height: 26px;
  margin-top: 15px;
  margin-left: 107px;
}

#loginBox #loginButtonBox input {
  width: 71px;
  height: 26px;
  background: url("../images/footer/login.png") no-repeat scroll 0 0 transparent;
}

#loginBox #loginButtonBox input:hover {
	cursor:pointer;
}

#loginButtonBox a {
  display: block;
  width: 71px;
  height: 26px;	
}

#loginBox .loginInputBox {
  margin-top: 18px;	
  width: 269px;
  height: 63px;
  margin-left: 43px;
}

#loginBox .loginInputBox #input1 {
  width: 269px;
  height: 30px;	
}

#loginBox .loginInputBox #input2 {
  margin-top: 3px;
  width: 269px;
  height: 30px;	
}

#loginBox .loginInputBox .loginTitle {
  width: 65px;
  height: 25px;
  float: left;
  font-size: 0.75em;
  font-weight: bold;
  color: #000000;
  padding-top: 5px;
}

#loginBox .loginInputBox .inputField {
  height: 30px;
  width: 172px;
  float:left;
  background: url("../images/footer/input.png") no-repeat scroll 0 0 transparent;
}

#loginBox .loginInputBox .inputField input {
  background: url("../images/footer/inputField.png") no-repeat scroll 0 0 transparent;
  height: 15px;
  width: 166px;
  margin-top: 6px;
  margin-left: 2px;
  /*line-height: 26px;
  padding-left: 2px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-top: 0px;*/
  font-weight: normal;
  font-size: 0.75em;
}

#loginBox .loginInputBox .helpButton {
  height: 30px;
  width: 30px;
  margin-left: 2px;
  background: url("../images/footer/help.png") no-repeat scroll 0 0 transparent;
  float:left;
}

#loginBox #loginTextBox {
  font-size: 0.75em;
  font-weight: normal;	
  margin-left: 53px;
  margin-top: 13px;
}

#loginTextBox a:link { color: #00aeef; text-decoration:none; }
#loginTextBox a:visited { color: #00aeef; text-decoration:none; }
#loginTextBox a:hover { color: #00aeef; text-decoration:none; }
#loginTextBox a:active { color: #00aeef; text-decoration:none; }

#loginBox #loginText1 {
  width: 196px;
  height: 12px;	
}

#loginBox #loginText2 {
  width: 187px;
  height: 12px;
  margin-top: 8px;
}

#contact .info_name {
  margin-top: 30px;
  font-size: 1.38em;
}

#contact .contactBlock1 {	
  margin-top: 10px;
  height: 102px;
  width: 204px;
  font-size: 0.75em;
}

#contact #contactBlock1 p {
  margin: 0 0 0 0;	
}

#contact .info_position {
  margin: 0px;
  font-weight: bold;
  color: #333132;
}

#contact .contactBlock2 {
  margin-top: 5px;
  height: 25px;
  width: 121px;
  font-size: 0.75em;
}

#contact #contactBlock2 p {
  margin: 0 0 0 0;	
}

#contact .info_email {
  margin-top: 14px;
  font-size: 0.75em;
  color: #00aeef;
}

/*#contact .info_email  a:link { color: #00aeef; text-decoration:none; }
#contact .info_email  a:visited { color: #00aeef; text-decoration:none; }
#contact .info_email  a:hover { color: #00aeef; text-decoration:none; }
#contact .info_email  a:active { color: #00aeef; text-decoration:none; }*/

#emailUs {
  margin-top: 5px;
  width: 82px;
  height: 27px;
  background: url("../images/footer/emailus.png") no-repeat scroll 0 0 transparent;
}

#emailUs a {
  display:block;
  width: 82px;
  height: 27px;	
}

/**
4 * Slideshow style rules.
5 */
#slideshow {
  height: 500px;
}

#slideshow #slidesContainer {
  height: 500px;
  width: 1460px;
  margin: 0 auto;
  overflow:auto; /* allow scrollbar */
}

#slideshow #slidesContainer .slide {
  height: 500px;
}

#logout #logoutButton {
  float: left;
  margin-left: 6px;
  width: 74px;
  height: 27px;
  background: url("../images/content/logoutButton.png") no-repeat scroll 0 0 transparent;  	
}

#logout #logoutButton input {
  width: 74px;
  height: 27px;	
  cursor:pointer;
}

#logout {
  margin-left: 33px;	
}

#logout #logoutTitle {
  font-size: 1.38em;
  margin-top: 30px;
}

#logout .login-greeting {
  font-size: 0.75em;
  margin-top: 20px;
}

#logout #profileButton {
  float: left;
  width: 74px;
  height: 27px;
  background: url("../images/content/profileButton.png") no-repeat scroll 0 0 transparent;  	
}

#logout #profileButton a {
  width: 74px;
  height: 27px;
  display: block;
}

#logout #logoutButtonBox {
  margin-top: 20px;	
}
