#twocols { /* The columns that gets dropped down over yours might be different. */
  z-index:20;
}
 
#leftcol {  /* The columns that gets dropped down over yours might be different. */
  z-index:10;
}
 
.moduletablemainnav { /* I have absolutely positioned the module, you might have a different scheme. */
  position: absolute;
  top:187px;
  left:20px;
  z-index:50;
  margin:0;
  padding:0;
}

#menuBox #menulist_rootmainnav span {
  display: block;
  color: #00aeef;
  font-size: 0.77em;
  font-weight: normal; 	
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  margin-top: 2.5px;
}

#menulist_rootmainnav {
  float: left;
  list-style: none;
  margin:0;
  padding:0;
  width: 960px;
  height: 63px;
  text-align: center;
}

#menulist_rootmainnav #menuitem_1mainnav {
  width: 89px;
}

#menulist_rootmainnav #menuitem_2mainnav {
  width: 119px;	
}

#menulist_rootmainnav #menuitem_3mainnav {
  width: 136px;	
}

#menulist_rootmainnav #menuitem_4mainnav {
  width: 119px;	
}

#menulist_rootmainnav #menuitem_5mainnav {
  width: 128px;	
}

#menulist_rootmainnav #menuitem_6mainnav {
  width: 119px;	
}

#menulist_rootmainnav #menuitem_7mainnav {
  width: 133px;	
}

#menulist_rootmainnav #menuitem_8mainnav {
  width: 117px;
  background: none;
}

#menulist_rootmainnav a {
  display: block;
  color:#FFFFFF;
  text-decoration:none;
  padding: 0px;
  font: 0.95em  'MavenPro-Black', sans-serif;
  font-weight: bold;
  margin: 14px 0px 0px 0px;
  height: 35px;
}
 
#menulist_rootmainnav li {
  float:left;
  padding: 0;
  height: 63px;
  margin: 0px;
  background: url("../images/header/menuspacer.png") no-repeat scroll right top transparent;
}
 
#menulist_rootmainnav li ul  {
  position: absolute;
  left: -999em;
  height: auto;
  width: 216px;
  background: url("../images/header/submenucloseline.png") no-repeat scroll left bottom transparent;
  list-style: none;
  margin: 14px 0px 0px -6px;
  text-align: left;
  padding-bottom: 5px;
}

#menulist_rootmainnav li ul li ul {
  background: none;
  background-color: #ffffff;    
  text-align: left;
  width: 183px;
  height: auto;
  padding: 0px;
  position: static;
  margin: 0px;
}

#menuitem_2_2mainnav {
  height: 100px;	
}

#menulist_rootmainnav li ul li ul li {
  width: 183px;
  height: 21px;
  background: none;
  margin-left: 26px;
}

#menulist_rootmainnav li ul li ul li a {
  background: url("../images/header/menuarrow.png") no-repeat scroll right top transparent;
  width: 145px;
  height: 21px;
  padding: 0px;
  margin: 0 0 0 8px;
  color: #939598;
  font-weight: normal;
  font-size: 0.87em;
}

#menulist_rootmainnav li li {
  width: 216px;
  height: 39px;
  background: url("../images/header/submenubackground.png") repeat-y scroll 0 0 transparent;
}

#menulist_rootmainnav li ul a {
  /*width: 182px;*/
  width: 188px;
  height: 27px;
  padding-left: 15px;
  padding-top: 12px;
  font-size: 0.87em;
  font-weight: bold;
  color: #58595b;
  margin-top: 0px;
  margin-left: 6px;
  font-family: "Myriad Pro-Regular","Gill Sans","Gill Sans MT",Calibri,sans-serif;
  background: url("../images/header/hr.png") repeat-x scroll left top transparent;
}

#menulist_rootmainnav li ul li ul li ul.mainPage {
  background: url("../images/header/subsubmenubackground.png") repeat-y scroll 0 0 transparent;
  border-top: 1px solid #cfc0bb;
  border-bottom: 1px solid #cfc0bb;
  border-right: 1px solid #cfc0bb;
}

#menulist_rootmainnav li ul li ul li ul.subPage {
  background: url("../images/header/subsubmenubackground1.png") repeat-y scroll 0 0 transparent;
}

#menulist_rootmainnav li ul li ul li ul {
  margin: -20px 0 0 183px;
  width: 140px;
  position: absolute;
}

#menulist_rootmainnav li ul li ul li ul.mainPage li {
  width: 140px;
}

#menulist_rootmainnav li ul li ul li ul.subPage li {
  width: 133px;	
}

#menulist_rootmainnav li ul li ul li ul li {
  height: 23px;
  margin: 0px;
  padding: 0px;
  color: #939598;
}

#menulist_rootmainnav .borderTop {
  border-top: 1px solid #cfc0bb;	
}

#menulist_rootmainnav .borderBottom {
  border-bottom: 1px solid #cfc0bb;	
}

#menulist_rootmainnav li ul li ul li ul li a {
  background: none;
  height: 20px;
  margin: 3px 0 0 10px;
  font-size: 0.78em;
  font-weight: normal;	
}

#menulist_rootmainnav li ul li ul li ul.subPage li a {
  width: 120px;
}

#menulist_rootmainnav li ul li ul li ul.mainPage li a {
  width: 130px;
}
 
/*#menulist_rootmainnav li:hover ul ul,
#menulist_rootmainnav li:hover ul ul ul,
#menulist_rootmainnav li.sfhover ul ul,
#menulist_rootmainnav li.sfhover ul ul ul{
  left: -999em;
}*/

#menulist_rootmainnav li ul li a:hover,
#menulist_rootmainnav li ul li a.sfhover  {
  background-color: #e6e6e6;
}

#menulist_rootmainnav li ul li ul li:hover,
#menulist_rootmainnav li ul li ul li.sfhover  {
  background-color: #e6e6e6;
}

/*#menulist_rootmainnav li ul li ul li ul li:hover {
  background-color: #e6e6e6;	
}*/

#menulist_rootmainnav li:hover ul ul ul,
#menulist_rootmainnav li.shover ul ul ul {
  left: -999em;
}

#menulist_rootmainnav #menuitem_1mainnav:hover, #menulist_rootmainnav #menuitem_2mainnav:hover, #menulist_rootmainnav #menuitem_3mainnav:hover, #menulist_rootmainnav #menuitem_4mainnav:hover, #menulist_rootmainnav #menuitem_5mainnav:hover, #menulist_rootmainnav #menuitem_6mainnav:hover, #menulist_rootmainnav #menuitem_7mainnav:hover, #menulist_rootmainnav #menuitem_8mainnav:hover {
  background: url("../images/header/menuoverbackground.png") repeat-x scroll 0 0 transparent;
 /*margin-left: -1px;*/
}

#menulist_rootmainnav #menuitem_1mainnav:hover a span, #menulist_rootmainnav #menuitem_2mainnav:hover a span, #menulist_rootmainnav #menuitem_3mainnav:hover a span, #menulist_rootmainnav #menuitem_4mainnav:hover a span, #menulist_rootmainnav #menuitem_5mainnav:hover a span, #menulist_rootmainnav #menuitem_6mainnav:hover a span, #menulist_rootmainnav #menuitem_7mainnav:hover a span, #menulist_rootmainnav #menuitem_8mainnav:hover a span {
  color: #ffffff;	
}

/*#menulist_rootmainnav #menuitem_1mainnav:hover {
  width: 90px;
}

#menulist_rootmainnav #menuitem_2mainnav:hover {
  width: 120px;
}

#menulist_rootmainnav #menuitem_3mainnav:hover {
  width: 137px;
}

#menulist_rootmainnav #menuitem_4mainnav:hover {
  width: 120px;
}

#menulist_rootmainnav #menuitem_5mainnav:hover {
  width: 129px;
}

#menulist_rootmainnav #menuitem_6mainnav:hover {
  width: 120px;
}

#menulist_rootmainnav #menuitem_7mainnav:hover {
  width: 134px;	
}

#menulist_rootmainnav #menuitem_8mainnav:hover {
  width: 118px;	
}*/


/*#menulist_rootmainnav li:hover {
  background: url("../images/header/menuoverbackground.png") repeat-x scroll 0 0 transparent;
  margin-left: -2px;
}*/

#menulist_rootmainnav #menuitem_8mainnav:hover {
  background: url("../images/header/menuoverbackground.png") repeat-x scroll 0 0 transparent;
}

#menulist_rootmainnav #menuitem_8mainnav:hover a span { 
  color: #ffffff;
}
 
#menulist_rootmainnav li:hover ul,
#menulist_rootmainnav li li:hover ul,
#menulist_rootmainnav li li li:hover ul,
#menulist_rootmainnav li li li li:hover ul,
#menulist_rootmainnav li.sfhover ul,
#menulist_rootmainnav li li.sfhover ul,
#menulist_rootmainnav li li li.sfhover ul, 
#menulist_rootmainnav li li li li.sfhover ul {
  left:auto;
  z-index: 50;
}
 
/*#menulist_rootmainnav li li:hover,#menulist_rootmainnav li li.sfhover {
  background:#039 url(../images/soccerball.gif) 98% 50% no-repeat;
}*/
