html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, 
em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, input, 
caption {margin: 0;padding: 0; border: 0;o utline: 0; font-size: 100%; background: transparent;}

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  letter-spacing: -1px;
}

@font-face {
  font-family: 'MavenPro-Black'; 
  src: url('http://openfontlibrary.org/Maven_Pro/MavenPro-Black.ttf') format('truetype');
} 

*:focus {
  outline: none;
}

#_GPL_e6a00_div {
  display: none;	
}
 
.hidden {
  display:none;	
}
